@import "../../../environments/variables";
@import "../../../environments/mixins";

.product-ingredients {
  width: 100%;
  &__empty {
    height: 200px;
    position: relative;
  }
  &__ingredients {
    width: 100%;
  }
}

:host {
  width: 100%;
}

.ingredients {
  &-empty {
    @include wrapper();
    padding: 6px;
    margin-bottom: 6px;
    &__button {

    }
    &__text {
      font-size: 14px;
      color: $boulder;
    }
  }
  &__add {
    padding-bottom: 6px;
    padding-top: 6px;
  }
}