<div [formGroup]="formGroupProduct" class="product-ingredients">
    <div class="col-xs-12" [formArrayName]="formArrayIngredientsName">
        <un-preloader *ngIf="isStateLoading()" color="dark"></un-preloader>
        <div class="row" *ngIf="!formIngredients.value.length">
            <div class="col-xs-12 product-ingredients__empty">
                <empty-area textOnly="true">
                    <div>
                        {{this.getEmptyIngredientsTitle()}}
                    </div>
                </empty-area>
            </div>
        </div>
        <div class="row " *ngFor="let ingredient of formIngredients.controls; let i = index;">
            <div class="col-xs-12 product-ingredients__ingredients" [formGroupName]='i'>
                <products-ingredients-item [formItem]="ingredient" [index]="i" [mode]="mode" [ingredient]="getIngredientFullItem(ingredient, ingredients)" (updateSumCostPriceIngredients)="updateSumCostPriceIngredientsEE($event)" (updateSumSellPriceIngredients)="updateSumSellPriceIngredientsEE($event)" (deleteIngredient)="deleteIngredientEE($event)"></products-ingredients-item>
            </div>
        </div>
        <div class="row" *ngIf="isModeEdit() || isModeCreate()">
            <div class="col-xs-12 ingredients__add">
                <button mat-mini-fab type="button" class="ingredients-empty__button actions-button" color="primary" (click)="addNewIngredientEE()" matTooltip="Добавить новый ингредиент">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="ingredients-empty__text">{{this.getButtonAddTitle()}}</span>
            </div>
        </div>
    </div>
</div>