.un-large-panel-class {
  position: relative !important;
  max-width: 100vw !important;
  height: 90vh !important;
  width: 95vw !important;
  .mat-dialog-container {
    padding: 0;
  }
}

.un-panel-class {
  position: relative !important;
  .mat-dialog-container {
    padding: 0;
  }
}