<div *ngIf="collectionsModal$ | async as collectionsModal" class="collections">
    <div class="row">
        <mat-form-field class="col-xs-10">
            <mat-select placeholder="Коллекции" [formControl]="formSelectControl" multiple [disableControl]="isModeView()" (selectionChange)="selectionChange($event)">
                <mat-option *ngFor="let collection of collectionsModal.collections" [value]="collection.id">{{collection.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-xs-2">
            <button mat-mini-fab type="button" color="primary" matTooltip="Просмотреть/изменить список всех коллекций" (click)="editCollections()" [disabled]="isModeView()">
                <mat-icon>toc</mat-icon>
            </button>
        </div>
    </div>
</div>