<div [formGroup]="formItem" class="row buyer-orders-item">
    <a class="icon-order" matTooltip="Перейти в данный товар" routerLink="/products" [queryParams]="{id: order?.product?.id}">
        <mat-icon class="icon-order__mat-icon">card_giftcard</mat-icon>
    </a>
   <div class="col-xs-12">
       <div class="row buyer-orders-item-row" [ngClass]="{
     'buyer-orders-item__count-empty': !formItem.get('count').value || !formItem.get('preOrder').value && !productCountDif && !formItem.get('count').value || productCountDif < 0
    }">
           <div class="col-xs-12">
               <div class="row padding-row">
                   <div class="col-xs-12">
                       <div class="union-material-text">Предзаказ</div>
                       <mat-checkbox formControlName="preOrder" [disableControl]="isModeView()" (change)="changePreOrder()"></mat-checkbox>
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-12">
                       <mat-icon color="warn" *ngIf="!formItem.get('count').value" matTooltip="Не указано количество товаров в заказе" matTooltipPosition="after">info</mat-icon>
                       <mat-icon color="warn" *ngIf="productCountDif < 0" matTooltip="Невозможно произвести вычет товаров. Осталось меньше, чем требуется" matTooltipPosition="after">info</mat-icon>
                       <mat-icon color="warn" *ngIf="!formItem.get('preOrder').value && !productCountDif && !formItem.get('count').value" matTooltip="Товара нет в наличии. Вы можете оформить предзаказ" matTooltipPosition="after">info</mat-icon>
<!--                       <mat-icon color="warn" *ngIf="!formItem.get('preOrder').value && productCountDif && productCountDif < formItem.get('count').value" matTooltip="Не хватает товаров для заказа. Вы можете оформить предзаказ" matTooltipPosition="after">info</mat-icon>-->
                       <button mat-mini-fab color="warn"
                               class="buyer-orders-item-button-delete"
                               type="button"
                               *ngIf="isModeEdit() || isModeCreate()"
                               matTooltip="Удалить заказ"
                               (click)="deleteProductEE()">
                           <mat-icon>remove</mat-icon>
                       </button>
                      <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 product-photo" *ngIf="buyerOrdersItemProductPhotosModel$ | async as buyerOrdersItemProductPhotosModel">
                              <div class="row" *ngIf="buyerOrdersItemProductPhotosModel?.photos.length">
                                  <div class="col-xs-12">
                                      <photo-small [src]="apiUrl + '/' + buyerOrdersItemProductPhotosModel.photos[0]"></photo-small>
                                  </div>
                              </div>
                              <div class="row" *ngIf="buyerOrdersItemProductPhotosModel.isStateLoading()">
                                  <div class="col-xs-12">
                                      <un-preloader color="dark"></un-preloader>
                                  </div>
                              </div>
                              <div class="row" *ngIf="!buyerOrdersItemProductPhotosModel.isStateLoading() && !buyerOrdersItemProductPhotosModel?.photos.length">
                                  <div class="col-xs-12">
                                      <empty-area textOnly="true">
                                          <div>
                                              Фотографии товара пока нет
                                          </div>
                                      </empty-area>
                                  </div>
                              </div>
                          </div>
                          <mat-form-field class="col-xs-12 col-sm-3" matTooltipPosition="above" [matTooltip]="'Название товара: ' + order.product.name">
                              <input matInput placeholder="Название товара"
                                     type="text" [value]="order.product.name"
                                     [disabled]="true">
                          </mat-form-field>
                          <mat-form-field class="col-xs-12 col-sm-3" matTooltipPosition="above" [matTooltip]="'Требуемое количество: ' + formItem.get('count').value">
                              <input matInput placeholder="Требуемое количество"
                                     type="number" formControlName="count" min="0" (change)="changeCount()"
                                     [disableControl]="isModeView()">
                          </mat-form-field>
                          <mat-form-field class="col-xs-12 col-sm-3" matTooltipPosition="above" [matTooltip]="'Осталось товара: ' + productCountDif">
                              <input matInput placeholder="Осталось товара"
                                     type="number" [value]="productCountDif"
                                     [disabled]="true">
                              <mat-error *ngIf="productCountDif< 0">Невозможно произвести вычет товаров. Осталось меньше, чем требуется</mat-error>
                          </mat-form-field>
                         <!-- <mat-form-field class="col-xs-2"  matTooltipPosition="above" [matTooltip]="'Текущаяя цена: ' + order.product.priceCurrent">
                              <input matInput placeholder="Текущая цена"
                                     type="number" [value]="order.product.priceCurrent"
                                     [disabled]="true">
                          </mat-form-field>-->
                      </div>
                   </div>
               </div>
               <!--<div class="row">
                   <div class="col-xs-12">
                       <products-ingredients [ingredients]="order.additional"
                                             [formGroupProduct]="formItem"
                                             (updateSumSellPriceIngredients)="updateSumSellPriceIngredientsEE($event)"
                                             (addNewIngredient)="addNewIngredientEE($event)"
                                             (deleteIngredient)="deleteIngredientEE($event)"
                                             [formIngredients]="formItem.get('additional')"
                                             [formArrayIngredientsName]="'additional'"
                                             [mode]="mode"></products-ingredients>
                   </div>
               </div>-->
           </div>
       </div>
   </div>
</div>