@import "../../../../environments/variables";
@import "../../../../environments/mixins";

.un-time-picker {
  fieldset {
    border: none;
    padding: 0;
    &:disabled {
      .chevron {
        @include union-material-text-color();
      }
    }
    .chevron {
      color: $black-light-8;
    }
  }
  .btn {
    border: none;
    background: transparent;
    outline: none;
    @include union-material-text-color();
    &:hover {
      cursor: pointer;
    }
  }
  .sr-only {
    display: none;
  }
  input {
    height: 25px;
    font-size: 16px;
    color: $black-light-8;
    &:disabled {
      background: transparent;
      outline: none;
      border: 1px solid $black-material-disabled;
      color: $black-material-disabled-text;
    }
  }
}