<div mat-dialog-content class="photo-large-modal">
    <button type="button" class="close" mat-mini-fab matTooltip="Закрыть" (click)="close()" color="primary">
        <mat-icon class="close__icon">close</mat-icon>
    </button>
    <img class="photo-large-modal__img" [src]="data.path | secure">
</div>