<div mat-dialog-content class="abstract-ingredient-modal">
    <button type="button" class="close" mat-mini-fab matTooltip="Закрыть" (click)="close()" color="primary">
        <mat-icon class="close__icon">close</mat-icon>
    </button>
    <div class="abstract-ingredient-modal-content">
        <div class="abstract-ingredient-modal-header">
            <div class="abstract-ingredient-modal-header__text" *ngIf="isModeCreate()">Создание нового товара</div>
            <div class="abstract-ingredient-modal-header__text" *ngIf="isModeEdit()">Редактирование товара</div>
            <div class="abstract-ingredient-modal-header__text" *ngIf="isModeView()">Просмотр товара</div>
        </div>
        <div class="abstract-ingredient-modal-body">
            <abstract-ingredient [ingredientId]="data.ingredientId" [mode]="data.mode" [dialogRef]="dialogRef"></abstract-ingredient>
        </div>
    </div>
</div>
