@import "../../../environments/variables";
@import "../../../environments/mixins";

$header-height: 60px;

.abstract-ingredient-modal {
  max-height: 100vh;
  padding: 0;
  margin: 0;
  height: 100%;
  &-content {
    height: 100%;
  }
  &-header {
    height: $header-height;
    background-color: $green-union-2;
    color: $white;
    &__text {
      font-size: 1.125rem;
      padding: 18px;
    }
  }
  &-body {
    height: calc(100% - #{$header-height});;
  }
}

@include close-button-modal();