@import "../../../environments/variables";

$menu-item--color-text: #c3e5e5;

.menu__item:hover > menu-item > .menu-item__list {
    display: block;
    min-width: 100%;
}

.menu-item__list {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: $base-gutter * 6;
	max-height: calc(100vh - 84px);
	z-index: 10;
}

    .menu-item__item {
        align-items: center;
        border: none;
        color: $white;
        font-size: 14px;
        font-weight: 600;
        height: $base-gutter * 5;
        line-height: $base-gutter * 5;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        &:hover {
            menu-item > .menu-item__list {
                display: block;
                left: 100%;
                top: 0;
            }
        }
        &_state_disabled {
            &:hover > menu-item > .menu-item__list {
                display: none;
            }
        }

        .menu-item__list {
            left: 100%;
            top: 0;
        }
    }
    .menu-item__link {
        background-color: $elm-2;
        border: none;
        color: $white;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        height: $base-gutter * 5;
        justify-content: flex-start;
        line-height: $base-gutter * 5;
        padding: 0 $base-gutter * 2;
        position: relative;
        text-decoration: none;
        text-transform: none;
        white-space: nowrap;
        width: 100%;

        &:focus {
            background-color: $firefly;
            border-color: $firefly;
            &:before {
                content: none;
            }
        }
        &:hover {
            background-color: $firefly;
            border-color: $firefly;
        }
        &:hover,
        .menu-item__item:hover > & {
            background-color: $firefly;
            color: $white;
            text-decoration: none;

            &:before {
                content: none;
            }
        }
        .menu-item__item:hover > &:active,
        &.is-active {
            background-color: $firefly;
            color: $white;
        }

        .menu-item__item_state_disabled > &,
        .menu-item__item_state_disabled > &:hover {
            background-color: $elm-2 !important;
            color: rgba(white,0.5) !important;
            pointer-events: none;
        }
        &_state_current {
            color: $white;
        }
        .menu-item__icon {
            align-items: center;
            display: flex;
            font-size: 0;
            justify-content: center;
            width: $base-gutter * 5;
            height: $base-gutter * 5;
            margin-right: -$base-gutter * 2;
            position: relative;
        }
    }
