<div *ngIf="model$ | async as model" class="plan-wrapper">
    <div class="row plan" *ngIf="model.read">
        <div class="col-xs-12 col-md-4 plan-list-wrapper">
            <div class="row">
                <plan-list [read]="model.read" [write]="model.write" [mini]="mini"></plan-list>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 plan-view-wrapper">
            <div class="row">
                <plan-view [read]="model.read" [write]="model.write" [mini]="mini" (selectBuyerEE)="selectBuyer($event)"></plan-view>
            </div>
        </div>
    </div>
</div>