<div class="row charts">
	<div class="col-xs-3 charts-element">
		<canvas baseChart
				[datasets]="lineChartData"
				[labels]="lineChartLabels"
				[options]="lineChartOptions"
				[colors]="lineChartColors"
				[legend]="lineChartLegend"
				[chartType]="lineChartType"
				(chartHover)="chartHovered($event)"
				(chartClick)="chartClicked($event)"></canvas>
	</div>
</div>