<div mat-dialog-content class="abstract-buyer-modal">
    <button type="button" class="close" mat-mini-fab matTooltip="Закрыть" (click)="close()" color="primary">
        <mat-icon class="close__icon">close</mat-icon>
    </button>
    <div class="abstract-buyer-modal-content">
        <div class="abstract-buyer-modal-header">
            <div class="abstract-buyer-modal-header__text" *ngIf="isModeCreate()">Создание нового покупателя</div>
            <div class="abstract-buyer-modal-header__text" *ngIf="isModeEdit()">Редактирование покупателя</div>
            <div class="abstract-buyer-modal-header__text" *ngIf="isModeView()">Просмотр покупателя</div>
        </div>
        <div class="abstract-buyer-modal-body">
            <abstract-buyer [buyerId]="data.buyerId" [mode]="data.mode" [dialogRef]="dialogRef"></abstract-buyer>
        </div>
    </div>
</div>
