<div class="col-xs-12 plan-list" *ngIf="$model | async as model">
    <div class="row plan-list__header">
        <div class="col-xs-12 plan-list__header-col">
            <plan-list-controller [read]="read" [write]="write" [mini]="mini" [disabledSearch]="model.isStateLoading()">
                <!--  <span>Найдено результатов: {{model.searchesCount}} </span>-->
            </plan-list-controller>
        </div>
    </div>
   <div class="row plan-list__body">
       <div class="col-xs-12 plan-list__body-col" kpiStickyContainer>
           <un-preloader *ngIf="model.isStateLoading()" color="dark"></un-preloader>
           <div *ngFor="let group of model.groups" class="plan-list__group">
               <div class="plan-list__group_title {{getLowerStatus(group.status)}}"
                    *ngIf="group.list.length > 0"
                    [attr.sticky-item]="true"
                    sticky-item-clickable
               >
                   <span class="plan-list__group_badge">{{group.list.length}}</span>
                   <span class="plan-list__group_title">{{group.title}}</span>
                   <mat-icon class="plan-list__group_icon">{{getGroupIconByStatus(group.status)}}</mat-icon>
               </div>
               <plan-list-item
                       *ngFor="let item of group.list"
                       [model]="item"
                       (click)="onClickToItem(item)"
                       [selected]="item.id === model?.selected?.id"
                       [groupStatus]="group.status">
               </plan-list-item>
           </div>
           <div *ngIf="!model.total && model.isStateLoaded()">
               <empty-area textOnly="true">
                   <div>
                       Покупателя на выбранную дату нет. Вы можете создать нового
                   </div>
               </empty-area>
           </div>
           <div *ngIf="!model.total && model.isStateError()">
               <empty-area>
                   <div>
                       Ошибка получения списка покупателей
                   </div>
               </empty-area>
           </div>
       </div>
   </div>
</div>