@import "../../../environments/variables";
@import "../../../environments/mixins";

$height-header: 130px;

:host {
/*  border: 1px solid $silver;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;*/
  width: 100%;
  height: 100%;
  position: relative;
  @include wrapper();
}

.plan-list {
  position: relative;
  height:100%;
  background: $white;
  &__header {
    position: relative;
    z-index: 10;
    height: $height-header;
    &-col {
      padding: 0;
    }
  }
  &__body {
    position: relative;
    height: calc(100% - #{$height-header});
    -webkit-overflow-scrolling: touch;
    &-col {
      position: relative;
      height: 100%;
      overflow: auto;
      padding: 0;
    }
   /* height: 100%;
    flex: 1;
    overflow: auto;
    position: relative;
    width: 100%;*/
  }
  &__footer {
    background-color: $concrete;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 $base-gutter * 3;
    position: relative;
    &:before {
      content: "";
      background-color: $silver;
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__helper-search {
    height: 100px;
    position: relative;
  }
  &__group {
    &_title {
      align-items: center;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      padding: $base-gutter / 2 $base-gutter * 2;
      position: relative;&.is {
      &-sent { background-color: $blue-union; }
      &-ready { background-color: $purple-union; }
      &-preorder { background-color: $purple-union-1; }
      &-newest { background-color: $red-union-1; }
      &-save { background-color: $green-union-2; }
      &-canceled { background-color: $boulder; }
      &-wait { background-color: $orange-union-1; }
      &-finished { background-color: $green-union-2; }
      &-lost { background-color: $boulder; }
      &-outside { background-color: $shakespeare; }
    }
    }
    &_badge {
      background-color: $white;
      border-radius: $base-gutter;
      font-size: 11px;
      height: $base-gutter * 2;
      line-height: 16px;
      margin-right: $base-gutter * 2;
      min-width: $base-gutter * 2;
      padding: 0 $base-gutter / 2;
      text-align: center;
      .is-sent & { color: $blue-union; }
      .is-ready & { color: $purple-union; }
      .is-preorder & { color: $purple-union-1; }
      .is-newest & { color: $red-union-1; }
      .is-canceled & { color: $boulder; }
      .is-wait & { color: $orange-union-1; }
      .is-finished & { color: $green-union-2; }
      .is-lost & { color: $boulder; }
      .is-outside & { color: $shakespeare; }
    }
    &_title {
      display: flex;
      flex: 1;
    }
    &_icon {
      display: flex;
    }
  }
}