<div [formGroup]="formItem" class="row products-ingredients-item">
    <a class="icon-ingredient" matTooltip="Перейти в данный ингредиент" routerLink="/ingredients" [queryParams]="{id: ingredient.id}" >
        <mat-icon class="icon-ingredient__mat-icon">apps</mat-icon>
    </a>
    <div class="col-xs-12">
        <div class="row products-ingredients-item-row" [ngClass]="{
        'products-ingredients-item__count-empty': !ingredient.deleted && (!ingredient.count || !formItem.get('count').value || ingredient.count < formItem.get('count').value),
         'products-ingredients-item__error': ingredient.deleted
     }">
           <div class="col-xs-12 ingredient">
               <button mat-mini-fab color="warn"
                       class="products-ingredients-item-button-delete"
                       type="button"
                       *ngIf="isModeEdit() || isModeCreate()"
                       matTooltip="Удалить ингредиент"
                       (click)="deleteIngredientEE(index)">
                   <mat-icon>remove</mat-icon>
               </button>
               <mat-icon color="warn" *ngIf="ingredient.deleted" matTooltip="Возможно, данный ингредиент был удален из базы данных">info</mat-icon>
               <mat-icon color="warn" *ngIf="!ingredient.deleted && (!ingredient.count || !formItem.get('count').value || ingredient.count < formItem.get('count').value)" matTooltip="Ингредиентов не хватает, либо не задано требуемое количество">info</mat-icon>
               <div class="row ingredient-row">
                   <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" *ngIf="ingredient.photos.length">
                       <photo-small [src]="apiUrl + '/' + ingredient.photos[0]"></photo-small>
                   </div>
                   <mat-form-field class="col-xs-12 col-sm-3" [matTooltip]="'Название ингредиента: ' + ingredient.name" matTooltipPosition="above">
                       <input matInput placeholder="Название ингредиента"
                              [value]="ingredient.name"
                              [disabled]="true">
                   </mat-form-field>
                   <mat-form-field  class="col-xs-12 col-sm-3" matTooltipPosition="above" [matTooltip]="'Требуемое количество: ' + formItem.get('count').value">
                       <input matInput placeholder="Требуемое количество" type="number" [disableControl]="isModeView()"
                              min="0" formControlName="count" (ngModelChange)="countChange()">
                       <mat-error *ngIf="formItem.get('count')?.invalid">Введите
                           требуемое количество данного ингредиента (Не меньше 1 и не больше кол-ва
                           ингредиентов в наличии)
                       </mat-error>
                   </mat-form-field>
                   <mat-form-field class="col-xs-12 col-sm-3" matTooltipPosition="above" [matTooltip]="'Ингредиентов в наличии: ' + ingredient.count">
                       <input matInput placeholder="Ингредиентов в наличии"
                              type="number" [value]="ingredient.count"
                              [disabled]="true">
                   </mat-form-field>
                <!--   <mat-form-field class="col-xs-2" matTooltipPosition="above" [matTooltip]="'Цена ингредиента (на продажу): ' + ingredient.sellPrice">
                       <input matInput placeholder="Цена ингредиента (на продажу)"
                              type="number" [value]="ingredient.sellPrice"
                              [disabled]="true">
                   </mat-form-field>
                   <mat-form-field class="col-xs-2" matTooltipPosition="above" [matTooltip]="'Себестоимость ингрединта: ' + ingredient.costPrice">
                       <input matInput placeholder="Себестоимость ингрединта"
                              type="number" [value]="ingredient.costPrice"
                              [disabled]="true">
                   </mat-form-field>-->
               </div>
           </div>
        </div>
    </div>
</div>