@import "../../../../environments/variables";
@import "../../../../environments/mixins";

.products-ingredients-item {
  position: relative;
  padding: 6px 6px 6px 60px;
  &-button-delete {
    @include button-delete();
  }
  &-row {
    @include wrapper();
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    &:hover {
      background-color: $gray-union-border-2;
      background-image: none;
    }
    &:after {
      left: -9px;
      transform: rotate(180deg);
      content: "";
      position: absolute;
      top: 28px;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 9px 0 9px 9px;
      border-color: transparent transparent transparent $green-union-2;
    }
  }
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #0c0c0c;
    opacity: 0.15;
    margin-left: 0px;
    left: 25px;
  }
  &__count-empty {
    background-size: 30px 30px;
    background-image: linear-gradient(-45deg, $gray-union-border-2 25%, transparent 25%, transparent 50%, $gray-union-border-2 50%, $gray-union-border-2 75%, transparent 75%, transparent);
  }
  &__error {
    background-size: 30px 30px;
    background-image: linear-gradient(-45deg, $red-union-rgba-2 25%, transparent 25%, transparent 50%, $red-union-rgba-2 50%, $red-union-rgba-2 75%, transparent 75%, transparent);
  }
  .ingredient {
    &-row {
      padding-right: 40px;
    }
  }
}


.icon-ingredient{
  position: absolute;
  left: 4px;
  top: 20px;
  background-color: $green-union-2;
  color: $white;
  text-align: center;
  width: 38px;
  height: 38px;
  border-width: 3px;
  border-style: solid;
  border-color: $white;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  &__mat-icon {
    line-height: 1.6;
  }
}
