<div class="plan-list-item {{getLowerStatus(model?.status)}}"
     [attr.sticky-item]="selected"
     [ngClass]="{'is-focused': selected}"
>
    <div class="plan-list-item__time" [ngSwitch]="model?.status">
        <div *ngSwitchCase="enumStatus.CANCELED"></div>
        <div *ngSwitchCase="enumStatus.WAIT"></div>
        <div *ngSwitchCase="enumStatus.FINISHED"></div>
    </div>

    <div class="plan-list-item__description">
        <div class="plan-list-item__fullname"
             [innerHTML]="model.name | highlightText: searchString">
        </div>
        <!--<div class="products-list-item__text"
             [innerHTML]="getFormatDate(model.dateDelivery) | highlightText: searchString">
        </div>-->
     <!--   <div class="products-list-item__text spec-products-list-item_search-mode" *ngIf="searchMode">
            <span class="products-list-item__text_label">Полис ОМС: </span>
            <span class="products-list-item__text_value"
                  [innerHTML]="model.omsNumber | kpiOms | highlightText: searchString: 'is-extra': true"></span>
        </div>-->
    </div>
</div>
