@import "../../../../environments/variables";

:host {
  display: block;

}

// component styles
.plan-list-item {
  align-items: center;
  background-color: $white;
  border-left: 8px transparent solid;
  cursor: pointer;
  display: flex;
  position: relative;
  &:before {
    content: "";
    background-color: $silver;

    display: block;
    height: 1px;
    left: -$base-gutter;
    position: absolute;
    top: -1px;width: calc(100% + #{$base-gutter});
  }
  &:after {
    content: "";
    background-color: $silver;
    bottom: 0;display: block;
    height: 1px;
    left: -$base-gutter;
    position: absolute;

    width: calc(100% + #{$base-gutter});
  }
  &__time {
    align-self: flex-start;
    font-weight: 600;
    line-height: 24px;
    padding: $base-gutter * 2;
    width: $base-gutter * 12;
    //.is-lost & { width: $base-gutter * 16; }
  }
  &__description {
    flex: 1;
    padding: $base-gutter * 2;
    padding-left: 0;
    width: 100%;
  }
  &__info {
    color: $red-union-1;
    line-height: 16px;
    padding: 0 $base-gutter * 2;
  }
  &__fullname {
    color: $mine-shaft;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  &__text {
    font-size: 15px;
    &_label {
      color: $shakespeare;
    }
    &_value { color: $mine-shaft; }
    &_msg {font-weight: bold}
  }
  &.is {
    &-focused {
      border-left-color: $green-union-2;
      z-index: 5 !important;
      &:before { background-color: $elm; }
      &:after { background-color: $elm; }
      &.is-sent {
        border-left-color: $blue-union;
        &:before { background-color: $blue-union;}
        &:after { background-color: $blue-union;}
      }
      &.is-ready {
        border-left-color: $purple-union;
        &:before { background-color: $purple-union;}
        &:after { background-color: $purple-union;}
      }
      &.is-preorder {
        border-left-color: $purple-union-1;
        &:before { background-color: $purple-union-1;}
        &:after { background-color: $purple-union-1;}
      }
      &.is-newest {
        border-left-color: $red-union-1;
        &:before { background-color: $red-union-1;}
        &:after { background-color: $red-union-1;}
      }
      &.is-done {
        border-left-color: $green-union-2;
        &:before { background-color: $green-union-2;}
        &:after { background-color: $green-union-2;}
      }
      &.is-wait {
        border-left-color: $orange-union-1;
        &:before { background-color: $orange-union-1;}
        &:after { background-color: $orange-union-1;}
      }
      &.is-canceled {
        border-left-color: $boulder;
        &:before { background-color: $boulder;}
        &:after { background-color: $boulder;}
      }
    }
  }
}