<div class="row rating" [formGroup]="formRating" *ngIf="abstractRatingModel$ | async as abstractRatingModel">
    <div class="col-xs-12">
        <un-preloader *ngIf="abstractRatingModel.isStateLoading()" color="dark"></un-preloader>
        <div class="row" *ngIf="!abstractRatingModel.isStateError()">
            <div class="col-xs-12">
                <div class="row padding-row">
                    <star-rating-comp [showHalfStars]="true" *ngIf="formRating.get('sumRating').value !== null" class="box rating-box" [starType]="'svg'" [rating]="formRating.get('sumRating').value" [disabled]="isModeView()" (onRatingChange)="onRatingChange($event)"></star-rating-comp>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field class="field">
                            <input matInput placeholder="Количество кликов по рейтингу" type="number" required [disableControl]="isModeView()"
                                   min="0" formControlName="count">
                            <mat-error *ngIf="formRating.get('count')?.invalid">Введите количество кликов по рейтингу</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <mat-form-field class="field">
                            <input matInput placeholder="Суммарный рейтинг" type="number" required [disableControl]="isModeView()"
                                   min="0" formControlName="sumRating" max="5">
                            <mat-error *ngIf="formRating.get('sumRating')?.invalid">Введите суммарный рейтинг (от 0 до 5)</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="abstractRatingModel.isStateError()">
            <div class="col-xs-12 rating__empty">
                <empty-area>
                    <div>
                        Ошибка загрузки рейтинга товара
                    </div>
                </empty-area>
            </div>
        </div>
    </div>
</div>