@import "../../environments/variables";
@import "../../environments/mixins";

.settings {
  background: transparent;
  margin: 0;
  padding: 12px;
  &-item {
    @include wrapper();
    align-items: center;
    background-color: $white;
    border-left: 8px transparent solid;
    cursor: pointer;
    display: flex;
    position: relative;
    padding: 20px;
    &:before {
      content: "";
      background-color: $silver;

      display: block;
      height: 1px;
      left: -$base-gutter;
      position: absolute;
      top: -1px;width: calc(100% + #{$base-gutter});
    }
    &:after {
      content: "";
      background-color: $silver;
      bottom: 0;display: block;
      height: 1px;
      left: -$base-gutter;
      position: absolute;

      width: calc(100% + #{$base-gutter});
    }
    &-permissions {
      border-left-color: $green-union-2;
    }
    &-plan {
      border-left-color: $green-union-2;
    }
    &-users {
      border-left-color: $green-union-2;
    }
  }
}