<div class="row settings" *ngIf="model$ | async as model">
	<div class="col-xs-3" *ngFor="let s of model.items">
		<div class="box settings-item settings-item-{{s.code}}">
			<mat-icon>{{s.icon}}</mat-icon>
			<span>{{s.name}}</span>
		</div>
	</div>
</div>