@import "../../environments/variables";
@import "../../environments/mixins";

.register {
  &-wrapper {
    background: transparent;
    margin: 0;
    padding: 12px;
    height: 100%;
  }
  @include wrapper();
}