﻿<div class="row register-wrapper">
    <div class="col-xs-12 register">
        <div class="row">
            <div class="col-xs-12">
                <h2>Регистрация нового пользователя</h2>
            </div>
        </div>
        <form name="form" (ngSubmit)="register()" [formGroup]="userForm" class="row">
            <div class="col-xs-6">
                <div class="row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Введите имя пользователя" formControlName="username" name="username" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Введите Пароль" formControlName="password" name="password" required />
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-6" formGroupName="permissions">
                <div class="row">
                    <div class="col-xs-12" formGroupName="plan">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>План</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" formGroupName="products">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Товары</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" formGroupName="ingredients">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Ингредиенты</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" formGroupName="charts">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Статистика</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" formGroupName="settings">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Настройки</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" formGroupName="register">
                        <div class="row">
                            <div class="col-xs-12">
                                <span>Регистрация новых пользователей</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-checkbox formControlName="read">Чтение</mat-checkbox>
                                <mat-checkbox formControlName="write">Запись</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-raised-button type="submit" [disabled]="state.isStateLoading()">Зарегистрировать</button>
        </form>
        <un-preloader *ngIf="state.isStateLoading()"></un-preloader>
    </div>
</div>
