<div class="row question-item" [formGroup]="formQuestionItem">
    <div class="icon-question" matTooltip="Вопрос">
        <mat-icon class="icon-question__mat-icon">help</mat-icon>
    </div>
    <div class="col-xs-12">
        <div class="row question-item-row">
            <button mat-mini-fab color="warn"
                    class="question-item-button-delete"
                    type="button"
                    *ngIf="isModeEdit() || isModeCreate()"
                    matTooltip="Удалить вопрос"
                    (click)="deleteQuestionByIndex(index)">
                <mat-icon>remove</mat-icon>
            </button>
            <div class="col-xs-12">
                <div class="row padding-row">
                    <mat-form-field class="col-xs-12" formGroupName="question">
                        <input matInput placeholder="Имя" required [disableControl]="isModeView()" formControlName="name">
                        <mat-error *ngIf="formQuestionItem.get('question').get('name')?.invalid">Введите имя</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-xs-12" formGroupName="question">
                                <textarea matInput placeholder="Вопрос" [disableControl]="isModeView()" required
                                          formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="formQuestionItem.get('answer')">
            <div class="col-xs-12">
                <un-answer-item (deleteAnswer)="deleteAnswer($event)" [formAnswerItem]="formQuestionItem.get('answer')" [mode]="mode" [_questionId]="formQuestionItem.get('_questionId').value"></un-answer-item>
            </div>
        </div>
        <div class="row" *ngIf="(isModeEdit() || isModeCreate()) && !formQuestionItem.get('answer')">
            <div class="col-xs-12 question-item__add">
                <button mat-mini-fab type="button" color="primary" (click)="addAnswer()" matTooltip="Добавить ответ на вопрос по товару">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="question-item__text">Добавьте ответ на вопрос по товару</span>
            </div>
        </div>
    </div>
</div>