@import "../../../environments/variables";
@import "../../../environments/mixins";

.question-item {
  position: relative;
  padding: 6px 6px 6px 60px;
  &:hover {
    background-color: $gray-union-border-2;
  }
  &__text {
    font-size: 14px;
    color: $boulder;
  }
  &__add {
    padding-bottom: 6px;
    padding-top: 6px;
  }
  &__empty {
    height: 100px;
  }
  &-row {
    @include wrapper();
    position: relative;
    &:after {
      left: -9px;
      transform: rotate(180deg);
      content: "";
      position: absolute;
      top: 28px;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 9px 0 9px 9px;
      border-color: transparent transparent transparent $green-union-2;
    }
  }
  &:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: #0c0c0c;
    opacity: 0.15;
    margin-left: 0px;
    left: 25px;
  }
  &-button-delete {
    @include button-delete()
  }
}

.union-material-text {
  margin-bottom: 6px;
  @include union-material-text();
}

.padding-row {
  padding: 12px 40px 12px 0;
}

.icon-question {
  position: absolute;
  left: 4px;
  top: 20px;
  background-color: $green-union-2;
  color: $white;
  text-align: center;
  width: 38px;
  height: 38px;
  border-width: 3px;
  border-style: solid;
  border-color: $white;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  &__mat-icon {
    line-height: 1.6;
  }
}
