@import "../../../../environments/variables";
@import "../../../../environments/mixins";

.buyer-orders {
  width: 100%;
  &__empty {
    height: 200px;
  }
  &-add {
    padding-bottom: 6px;
    padding-top: 6px;
    &__text {
      font-size: 14px;
      color: $boulder;
    }
    &__button {

    }
  }
  &-row {
    width: 100%;
  }
}

:host {
  width: 100%;
}