<div class="buyer-orders" [formGroup]="formGroupBuyer" *ngIf="buyerOrders$ | async as buyerOrders">
    <un-preloader color="dark" *ngIf="buyerOrders.isStateLoading()"></un-preloader>
    <div class="col-xs-12">
        <div class="row" *ngIf="!formOrders.value.length">
            <div class="col-xs-12 buyer-orders__empty">
                <empty-area textOnly="true">
                    <div>
                        Заказов пока нет
                    </div>
                </empty-area>
            </div>
        </div>
        <div class="row" formArrayName="orders">
            <div class="col-xs-12">
                <div class="row" *ngFor="let order of formOrders.controls; let i = index;">
                    <div class="col-xs-12 buyer-orders-row" [formGroupName]='i'>
                        <buyer-orders-item [index]="i"
                                           (updateSumSellPriceProduct)="updateSumSellPriceProductEE(buyerOrders.orders, $event)"
                                           [formItem]="order" [mode]="mode"
                                           (addNewIngredient)="addNewIngredient($event)"
                                           (deleteIngredient)="deleteIngredient($event)"
                                           [order]="getOrder(order, buyerOrders.orders)"
                                           (deleteProduct)="deleteProduct($event)"></buyer-orders-item>
                    </div>
                </div>
            </div>
        </div>
        <div class="row buyer-orders-add" *ngIf="isModeEdit() || isModeCreate()">
            <div class="col-xs-12">
                <button mat-mini-fab type="button" class="buyer-orders-add__button" color="primary"
                        (click)="addNewOrder()" matTooltip="Добавить новый заказ">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="buyer-orders-add__text">Добавить новый заказ</span>
            </div>
        </div>
    </div>
</div>