<div *ngIf="categoriesModal$ | async as categoriesModal" class="categories">
    <div class="row">
        <mat-form-field class="col-xs-10">
            <mat-select placeholder="Категории" [formControl]="formSelectControl" multiple [disableControl]="isModeView()" (selectionChange)="selectionChange($event)">
                <mat-option *ngFor="let collection of categoriesModal.categories" [value]="collection.id">{{collection.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-xs-2">
            <button mat-mini-fab type="button" color="primary" matTooltip="Просмотреть/изменить список всех категорий" (click)="editCategories()" [disabled]="isModeView()">
                <mat-icon>toc</mat-icon>
            </button>
        </div>
    </div>
</div>