@import "../../../../environments/variables";
@import "../../../../environments/mixins";
.categories-item {
  position: relative;
  @include wrapper();
  &-delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

:host {
  width: 100%;
  height: 100%;
}