@import "../../environments/variables";

.wrapper {
  height: 100%;
  padding: 0;
  &-left {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
  }
  &-right {
    width: calc(100% - #{$width-menu});
    padding-left: calc(#{$width-menu});
    height: 100%;
  }
  .is-no-logged {
    padding: 0;
  }
}

@media only screen and (max-width: 46rem) and (min-width: 0rem) {
  .wrapper {
    &-right {
      width: 100%;
      padding-left: 0;
      height: calc(100% - 47px)
    }
  }
}