<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wrapper">
	<menu-wrapper *ngIf="isLoggedIn$ | async" [items]="menu"></menu-wrapper>
	<div class="wrapper-right">
		<router-outlet></router-outlet>
	</div>
</div>