<un-preloader color="dark" *ngIf="isStateLoading()"></un-preloader>
<form (ngSubmit)="onSubmit()" class="col-xs-12 buyer-form" [ngClass]="{'is-modal': isModeEdit() || isModeCreate()}" [formGroup]="buyerForm">
    <div class="row buyer-modal__body">
        <div class="col-xs-12" *ngIf="abstractBuyerModel$ | async as abstractBuyerModel">
            <div class="row">
                <div class="col-xs-12 buyer-info">
                    <div class="row buyer-info__header">
                        <div class="col-xs-12">
                            <span>Информация о покупателе</span>
                        </div>
                    </div>
                    <div class="row buyer-info__body">
                        <un-preloader *ngIf="abstractBuyerModel.isStateLoading()" color="dark"></un-preloader>
                        <div class="col-xs-12">
                            <div class="row">
                                <mat-form-field class="col-xs-12">
                                    <mat-select placeholder="Статус" formControlName="status" [disableControl]="isModeView()">
                                        <mat-option *ngFor="let s of eStatus" [value]="s">{{getStatusTitle(s)}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12 field">
                                    <input matInput placeholder="Имя" formControlName="name" required [disableControl]="isModeView()">
                                    <mat-error *ngIf="buyerForm.get('name')?.invalid">Заполните имя покупателя</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12 field">
                                    <input matInput placeholder="Телефон" type="tel" formControlName="phone" [textMask]="{mask: mask}" [disableControl]="isModeView()">
                                    <mat-error *ngIf="buyerForm.get('phone')?.invalid">Заполните телефон покупателя</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12 field">
                                    <input matInput placeholder="Email" type="email" formControlName="email" [disableControl]="isModeView()">
                                    <mat-error *ngIf="buyerForm.get('email')?.invalid">Заполните email покупателя</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row padding-row">
                                <mat-form-field class="col-xs-12 field">
                                    <input matInput placeholder="Адрес" formControlName="address" [disableControl]="isModeView()">
                                </mat-form-field>
                                <!--<div class="col-xs-12">
                                    <un-map-address [formControlAddress]="buyerForm.get('address')" [formGroupParent]="buyerForm" [mode]="mode"></un-map-address>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput [matDatepicker]="dpDelivery" placeholder="Дата доставки" formControlName="dateDelivery"
                                               name="dateDelivery" [disableControl]="isModeView()">
                                        <mat-datepicker-toggle matSuffix [for]="dpDelivery"></mat-datepicker-toggle>
                                        <mat-datepicker #dpDelivery></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="union-material-text">Время доставки</div>
                                        </div>
                                    </div>
                                    <div class="row time-picker-container">
                                        <div class="box">
                                           <div class="col-xs-12">
                                               <div class="row">
                                                   <div class="box union-material-text time-picker-text">С</div>
                                                   <ngb-timepicker class="box un-time-picker" formControlName="timeDeliveryFrom" [disableControl]="isModeView()"></ngb-timepicker>
                                               </div>
                                           </div>
                                        </div>
                                        <div class="box">
                                          <div class="col-xs-12">
                                              <div class="row">
                                                  <div class="box union-material-text time-picker-text time-picker-text-right">По</div>
                                                  <ngb-timepicker class="box un-time-picker" formControlName="timeDeliveryTo" [disableControl]="isModeView()"></ngb-timepicker>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput [matDatepicker]="dpOrder" placeholder="Дата оформления заказа" formControlName="dateOrder"
                                               name="dateOrder" [disableControl]="isModeView()">
                                        <mat-datepicker-toggle matSuffix [for]="dpOrder"></mat-datepicker-toggle>
                                        <mat-datepicker #dpOrder></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="union-material-text">Вид доставки</div>
                                    <mat-radio-group formControlName="deliveryType" [disableControl]="isModeView()">
                                        <mat-radio-button [value]="eDeliveryTypes.DELIVERY">Доставка</mat-radio-button>
                                        <mat-radio-button [value]="eDeliveryTypes.PICKUP">Самовывоз</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row padding-row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput placeholder="Стоимость" formControlName="sumPrices" [disableControl]="true">
                                    </mat-form-field>
                                    <mat-icon class="union-material-text-color"
                                              matTooltip="Стоимость товара. Считается автоматически, исходя из указанной стоимости заказанных товаров и 'цен на продажу' дополнительных игредиентов.">
                                        info
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12">
                                            <textarea matInput placeholder="Комментарий к заказу" [disableControl]="isModeView()"
                                                      formControlName="comment"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 buyer-orders">
                    <div class="row buyer-orders__header">
                        <div class="col-xs-12">
                            <span>Заказанные товары</span>
                        </div>
                    </div>
                    <div class="row buyer-orders__body" *ngIf="abstractBuyerModel?.buyer">
                        <buyer-orders [orders]="abstractBuyerModel.buyer.orders"
                                      [formGroupBuyer]="buyerForm"
                                      [formOrders]="buyerForm.get('orders')"
                                      (updateSumSellPriceProduct)="updateSumSellPriceProductEE($event)"
                                      [mode]="mode"></buyer-orders>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row buyer-modal__footer">
        <div class="col-xs-6" *ngIf="!mini && (isModeEdit() || isModeCreate())">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-save" mat-mini-fab type="submit" color="primary" [disabled]="buyerForm.invalid" matTooltip="Сохранить" >
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="!mini && isModeEdit()">
            <div class="row end-xs">
                <div class="col-xs-12">
                    <button class="button-edit" color="warn" mat-mini-fab type="button"
                            matTooltip="Удалить покупателя"
                            (click)="removeBuyer(buyerId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="!mini && isModeView()">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button  class="button-action button-edit" mat-mini-fab type="button"
                            matTooltip="Редактировать покупателя"
                            color="primary"
                            (click)="editBuyer(buyerId)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="mini">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-action" color="primary" mat-mini-fab type="button" matTooltip="Выбрать данный ингредиент" (click)="selectBuyer(ingredientId)">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>