<div class="block-full" *ngIf="$model | async as model">
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.productId && model.isStateWait()">
        <div>
            Выберите товар из списка слева
        </div>
    </empty-area>
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.productId && model.isStateNone()">
        <div>
            Список товаров пуст
        </div>
    </empty-area>
    <div class="col-xs-12 products-view" *ngIf="model.productId">
        <div class="row products-view__header">
            <div class="col-xs-12">
                <div class="row header-row">
                    <div class="col-xs-6 header-row-col">
                        <span>Просмотр информации о товаре</span>
                    </div>
                    <div class="col-xs-6">
                        <!--добавить функционал-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row products-view__body">
            <abstract-product [mode]="model.mode" [productId]="model.productId" [mini]="mini" (selectProduct)="selectProductEE($event)"></abstract-product>
        </div>
    </div>
</div>
