@import "../../../environments/variables";
@import "../../../environments/mixins";

/*$height-footer: 50px;*/
$height-header: 60px;

:host {
  width: 100%;
  height: 100%;
}

.block-full {
  width: 100%;
  height: 100%;
  position: relative;
}

.products-view {
  @include wrapper();
  height: 100%;
  width: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
  &-row {
    height:100%;
  }
  &__header {
    height: $height-header;
    background-color: $green-union-2;
    color: $white;
  }
  &__body {
    overflow: auto;
    height: calc(100% - #{$height-header});
    padding-top: 6px;
  }
 /* &__footer {
    height:$height-footer;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }*/
  .field-date {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .field-status {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .button-action {
    margin: 0 5px;
  }

  .button-save {

  }
  .button-edit {

  }
  .add-new {
    padding-bottom: 12px;
  }

  @include photos();

  .close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 1;
  }

  .row-margin {
    margin-bottom: 20px;
  }

  .text {
    color: $black-light-54;
  }
}

.header {
  &-col {

  }
  &-row {
    height: 100%;
    padding: 6px;
    &-col {
      padding-top: 10px;
      font-size: 1.125rem;
    }
  }
}