<div class="date-spinner">
    <button mat-mini-fab type="button" color="primary"
            (click)="shiftDay(-1)"
            [disabled]="btnPrevDisabled">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <mat-form-field class="date-spinner-datepicker">
        <input matInput [matDatepicker]="dp" [placeholder]="placeholder" [(ngModel)]="value">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <button mat-mini-fab type="button" color="primary"
            (click)="shiftDay(1)"
            [disabled]="btnNextDisabled">
        <mat-icon>chevron_right</mat-icon>
    </button>
</div>