<div class="row answer-item" [formGroup]="formAnswerItem">
    <div class="icon-answer" matTooltip="Ответ">
        <mat-icon class="icon-answer__mat-icon">question_answer</mat-icon>
    </div>
    <div class="col-xs-12">
        <div class="row answer-item-row">
            <button mat-mini-fab color="warn"
                    type="button"
                    *ngIf="isModeEdit() || isModeCreate()"
                    class="answer-item-button-delete"
                    matTooltip="Удалить Ответ"
                    (click)="deleteAnswerByIndex(index)">
                <mat-icon>remove</mat-icon>
            </button>
            <div class="col-xs-12">
                <div class="row padding-row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Имя" required [disableControl]="isModeView()" formControlName="name">
                        <mat-error *ngIf="formAnswerItem.get('name')?.invalid">Введите имя</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-xs-12">
                                <textarea matInput placeholder="Ответ" [disableControl]="isModeView()" required
                                          formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>