<div class="col-xs-12 collections-item" [formGroup]="formCollectionsItem">
    <button mat-mini-fab color="warn"
            type="button"
            class="collections-item-delete-button"
            matTooltip="Удалить коллекцию"
            (click)="deleteCollectionByIndex(index)">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field>
        <input matInput placeholder="Название" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Описание"
                  formControlName="description"></textarea>
    </mat-form-field>
</div>