.content {
  height: 100%;
  overflow: hidden;
  &-row {
    height:100%;
  }
}

.buyer-add-product {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100vh;
}

.button-back {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 15;
}