<div mat-dialog-content class="buyer-add-product">
    <button class="button-back" color="primary" mat-mini-fab type="button" matTooltip="Вернуться назад" (click)="close(null)">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="col-xs-12 content">
        <div class="row content-row">
            <products [mini]="true" (selectProduct)="selectProduct($event)"></products>
        </div>
    </div>
</div>