<div class="row review-item" [formGroup]="formReviewItem">
    <div class="col-xs-12">
        <div class="row review-item-row">
            <button mat-mini-fab color="warn"
                    type="button"
                    *ngIf="isModeEdit() || isModeCreate()"
                    matTooltip="Удалить отзыв"
                    class="review-item-button-delete"
                    (click)="deleteReviewByIndex(index)">
                <mat-icon>remove</mat-icon>
            </button>
            <div class="col-xs-12">
                <div class="row padding-row">
                    <div class="col-xs-12">
                        <div class="union-material-text">Мужчина или женщина</div>
                        <mat-radio-group class="field" formControlName="gender" [disableControl]="isModeView()">
                            <mat-radio-button [value]="EGender.MALE">Мужчина</mat-radio-button>
                            <mat-radio-button [value]="EGender.FEMALE">Женщина</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row padding-row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Имя" required [disableControl]="isModeView()" formControlName="name">
                        <mat-error *ngIf="formReviewItem.get('name')?.invalid">Введите имя</mat-error>
                    </mat-form-field>
                </div>
                <div class="row padding-row">
                    <mat-form-field class="col-xs-12">
                                <textarea matInput placeholder="Описание" [disableControl]="isModeView()" required
                                          formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <div class="row padding-row">
                    <div class="col-xs-12">
                        <div class="union-material-text">Положительный ли отзыв</div>
                        <mat-radio-group class="field" formControlName="isPositive" [disableControl]="isModeView()">
                            <mat-radio-button [value]="true">Да</mat-radio-button>
                            <mat-radio-button [value]="false">Нет</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>