@import "../../../environments/variables";
@import "../../../environments/mixins";

.review-item {
  position: relative;
  &:hover {
    background-color: $gray-union-border-2;
  }
  margin-top: -1px;
  border-top: 1px solid $gray-union-border-2;
  border-bottom: 1px solid $gray-union-border-2;
  &-row {
    padding: 6px;
  }
  &-button-delete {
    @include button-delete();
  }
}

.union-material-text {
  margin-bottom: 6px;
  @include union-material-text();
}

.padding-row {
  padding-top: 12px;
  padding-bottom: 12px;
}
