<div class="row question" [formGroup]="formQuestion" *ngIf="abstractQuestionWithAnswerModel$ | async as abstractQuestionWithAnswerModel">
    <div class="col-xs-12">
        <div class="row" *ngFor="let f of formQuestion.controls; let i = index;">
            <div class="col-xs-12">
                <un-question-item [formQuestionItem]="f" [mode]="mode" (deleteQuestion)="deleteQuestionWithAnswersByIndex($event)" [index]="i"></un-question-item>
            </div>
        </div>
        <div class="row" *ngIf="abstractQuestionWithAnswerModel.isStateLoading()">
            <div class="col-xs-12 question__empty">
                <un-preloader color="dark"></un-preloader>
            </div>
        </div>
        <div class="row" *ngIf="!abstractQuestionWithAnswerModel.isStateLoading() && !formQuestion?.controls?.length || abstractQuestionWithAnswerModel.isStateError()">
            <div class="col-xs-12 question__empty">
                <empty-area *ngIf="abstractQuestionWithAnswerModel.isStateError()">
                    <div>
                        Ошибка загрузки вопросов по товару
                    </div>
                </empty-area>
                <empty-area textOnly="true" *ngIf="!abstractQuestionWithAnswerModel.isStateLoading() && !abstractQuestionWithAnswerModel.isStateError() && !formQuestion?.controls?.length">
                    <div>
                        Вопросов пока нет
                    </div>
                </empty-area>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isModeEdit() || isModeCreate()">
    <div class="col-xs-12 question__add">
        <button mat-mini-fab type="button" color="primary" (click)="addNewQuestionWithAnswers()" matTooltip="Добавить новый вопрос по товару">
            <mat-icon>add</mat-icon>
        </button>
        <span class="question__text">Добавьте вопрос по товару</span>
    </div>
</div>