<div class="col-xs-12 products-list" *ngIf="$model | async as model">
    <div class="row products-list__header">
        <div class="col-xs-12 products-list__header-col">
            <products-list-controller [read]="read" [write]="write" [mini]="mini" [disabledSearch]="model.isStateLoading()">
                <!--  <span>Найдено результатов: {{model.searchesCount}} </span>-->
            </products-list-controller>
        </div>
    </div>
   <div class="row products-list__body">
       <un-preloader *ngIf="model.isStateLoading()" color="dark"></un-preloader>
       <div class="col-xs-12 products-list__body-col" kpiStickyContainer>
           <div *ngFor="let group of model.groups" class="products-list__group">
               <div class="products-list__group_title {{getLowerStatus(group.status)}}"
                    *ngIf="group.list.length > 0"
                    [attr.sticky-item]="true"
                    sticky-item-clickable
               >
                   <span class="products-list__group_badge">{{group.list.length}}</span>
                   {{group.title}}
               </div>
               <products-list-item
                       *ngFor="let item of group.list"
                       [model]="item"
                       (click)="onClickToItem(item)"
                       (updateCountCb)="updateCountCb($event)"
                       [disabledIncrementButtons]="isUpdateProductCount"
                       [selected]="item.id === model?.selected?.id"
                       [groupStatus]="group.status">
               </products-list-item>
           </div>
           <div *ngIf="!model.total && model.isStateLoaded() && model.searchString">
               <empty-area textOnly="true">
                   <div>
                       По Вашему запросу товаров не найдено
                   </div>
               </empty-area>
           </div>
           <div *ngIf="!model.total && model.isStateLoaded() && !model.searchString">
               <empty-area textOnly="true">
                   <div>
                       Товаров нет. Вы можете создать новый
                   </div>
               </empty-area>
           </div>
           <div *ngIf="!model.total && model.isStateError()">
               <empty-area>
                   <div>
                       Ошибка получения списка товаров
                   </div>
               </empty-area>
           </div>
       </div>
   </div>
</div>