@import "../../../environments/variables";
@import "../../../environments/mixins";

$height-header: 130px;

:host {
/*  border: 1px solid $silver;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;*/
  width: 100%;
  height: 100%;
  position: relative;
  @include wrapper();
}

.products-list {
  position: relative;
  height:100%;
  &__header {
    position: relative;
    z-index: 10;

    height: $height-header;

    &-col {
      padding: 0;
    }
  }
  &__body {
    position: relative;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - #{$height-header});
    &-col {
      position: relative;
      height: 100%;
      overflow: auto;
      padding: 0;
    }
   /* height: 100%;
    flex: 1;
    overflow: auto;
    position: relative;
    width: 100%;*/
  }
  &__footer {
    background-color: $concrete;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    padding: 0 $base-gutter * 3;
    position: relative;
    &:before {
      content: "";
      background-color: $silver;
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__helper-search {
    height: 100px;
    position: relative;
  }
  &__group {
    &_title {
      align-items: center;
      color: $white;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      font-weight: 600;
      line-height: 24px;
      padding: $base-gutter / 2 $base-gutter * 2;
      position: relative;&.is {
      &-available { background-color: $green-union-2; }
      &-not_available { background-color: $boulder; }
      &-deleted_ingredient { background-color: $red-union-1; }
      &-outside { background-color: $shakespeare; }
    }
    }
    &_badge {
      background-color: $white;
      border-radius: $base-gutter;
      font-size: 11px;
      height: $base-gutter * 2;
      line-height: 16px;
      margin-right: $base-gutter * 2;
      min-width: $base-gutter * 2;
      padding: 0 $base-gutter / 2;
      text-align: center;
      .is-available & { color: $green-union-2; }
      .is-not_available & { color: $boulder; }
      .is-deleted_ingredient & { color: $red-union-1;}
      .is-outside & { color: $shakespeare; }
    }
  }
}