
.padding-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.rating-box {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rating {
  position: relative;
  margin-bottom: 0;
  &__empty {
    height: 200px;
    position: relative;
  }
}

:host {
  width: 100%;
  height: 100%;
}