<div class="product-types">
    <div class="row">
        <mat-form-field class="col-xs-10">
            <mat-select placeholder="Тип товара" [formControl]="formSelectControl" multiple [disableControl]="isModeView()" (selectionChange)="selectionChange($event)">
                <mat-option *ngFor="let type of EProductType" [value]="type">{{this.getConvertProductTypeEnum(type)}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>