<div
	class="empty-area"
	[ngClass]="{'empty-area-local': relative}">
	<div *ngIf="!textOnly" class="empty-area-icon">
		<mat-icon class="empty-area-icon__mat-icon">report_problem</mat-icon>
	</div>
	<ng-content></ng-content>
</div>
