@import "../../../../environments/variables";

.empty-area {
	align-items: center;
	background-color: transparent;
	color: $boulder;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 600;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	&-icon {
		height: $base-gutter * 12;
		margin-bottom: $base-gutter;
		margin-top: -$base-gutter * 13;
		opacity: .2;
		position: relative;
		width: $base-gutter * 12;
		&__mat-icon {
			font-size: 70px;
			width: 100%;
			height: 100%;
		}
	}
	&-local {
		background-color: transparent;
		height: 100%;
		position: relative;
	}
}
