@import "../../../environments/variables";
@import "../../../environments/mixins";

$footer-height: 60px;
$header-height: 60px;

.collections-modal {
  max-height: 100vh;
  padding: 0;
  margin: 0;
  height: 100%;
  &-header {
    height: $header-height;
    background-color: $green-union-2;
    color: $white;
    &__text {
      font-size: 1.125rem;
      padding: 18px;
    }
  }
  .collections-form {
    height: calc(100% - #{$header-height});
    &-body {
      padding: 6px;
      overflow: auto;
      background: $gray-union-body;
      height: calc(100% - #{$header-height});
    }
    &-footer {
      height: $footer-height;
      border-top: 1px solid $gray-union-border;
      padding-top: 10px;
    }
  }
  &-add {
    padding-bottom: 6px;
    padding-top: 6px;
    @include wrapper();
    &__text {
      font-size: 14px;
      color: $boulder;
    }
  }
}

.padding-row {
  padding-bottom: 6px;
}

@include close-button-modal();