<div mat-dialog-content class="collections-modal">
    <button type="button" class="close" mat-mini-fab matTooltip="Закрыть" (click)="close()" color="primary">
        <mat-icon class="close__icon">close</mat-icon>
    </button>
    <div class="collections-modal-header">
        <div class="collections-modal-header__text">
            Просмотр/изменение списка всех коллекций
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="modalForm" class="col-xs-12 collections-form" *ngIf="collectionsModal$ | async as collectionsModal">
        <un-preloader *ngIf="collectionsModal.isStateLoading()"></un-preloader>
        <div class="row collections-form-body" *ngIf="!collectionsModal.isStateLoading()">
           <div class="col-xs-12">
               <div class="row padding-row" formArrayName="collections" *ngFor="let f of collections.controls; let i = index;">
                   <collections-item (deleteCollection)="deleteCollectionByIndex($event)" [index]="i" [formCollectionsItem]="f"></collections-item>
               </div>
               <div class="row">
                   <div class="col-xs-12 collections-modal-add">
                       <button type="button" mat-mini-fab matTooltip="Добавить новую коллекцию" (click)="addNewCollection()" color="primary">
                           <mat-icon>add</mat-icon>
                       </button>
                       <span class="collections-modal-add__text">
                           Добавить новую коллекцию
                       </span>
                   </div>
               </div>
           </div>
        </div>
        <div class="row collections-form-footer" *ngIf="!collectionsModal.isStateLoading()">
            <div class="col-xs-12">
                <button [disabled]="modalForm.invalid" type="submit" mat-mini-fab matTooltip="Сохранить" color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
