<div class="row photos">
	<div class="col-xs-12">
		<div class="photos-drop">
			<div class="photos-drop__message">
				<mat-icon class="message-icon">cloud_upload</mat-icon>
				<div>Нажмите или перетащите файлы сюда</div>
			</div>
			<input type="file" ng2FileSelect class="photos-drop__input-file" [uploader]="uploader" multiple/><br/>
		</div>
	</div>
	<div class="col-xs-12" *ngIf="this.uploader.getNotUploadedItems().length">
        <div class="row photos-content-header">
            <div class="col-xs-3 photos-col">
                <span>Название</span>
            </div>
            <div class="col-xs-3 photos-col">
                <span>Размер</span>
            </div>
            <div class="col-xs-3 photos-col">
                <span>Статус</span>
            </div>
            <div class="col-xs-3 photos-col">
                <span>Действия</span>
            </div>
        </div>
        <div class="row" *ngFor="let item of uploader.queue">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3 photos-col">
                        <span>{{ item?.file?.name }}</span>
                    </div>
                    <div class="col-xs-3 photos-col">
                        <span>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</span>
                    </div>
                    <div class="col-xs-3 photos-col">
                        <mat-icon *ngIf="item.isSuccess">check_circle</mat-icon>
                        <mat-icon *ngIf="item.isCancel">info_outline</mat-icon>
                        <mat-icon *ngIf="item.isError">error</mat-icon>
                    </div>
                    <div class="col-xs-3 photos-col">
                        <button type="button" mat-mini-fab matTooltip="Удалить"
                                (click)="item.remove()">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>