@import "../../../../environments/variables";
@import "../../../../environments/mixins";

.photos {
  padding-bottom: 12px;
  padding-top: 12px;
  margin-bottom: 20px;
  @include wrapper();

	&-col {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      padding: 12px;
	}

  &-content-header {
    border-bottom: 1px solid $gray-union-border;
  }

	&-drop {
		display: block;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		height: 200px;
		padding: 5px 10px;
		font-size: 14px;
		line-height: 22px;
		color: #777;
		text-align: center;
		margin-bottom: 20px;
		@include wrapper();
      border: 1px dashed rgba(0, 0, 0, 0.33);
      box-shadow: none;

		&:hover {
			background-size: 30px 30px;
			background-image: -webkit-linear-gradient(135deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
			background-image: linear-gradient(-45deg,#F6F6F6 25%,transparent 25%,transparent 50%,#F6F6F6 50%,#F6F6F6 75%,transparent 75%,transparent);
			-webkit-animation: stripes 2s linear infinite;
			animation: stripes 2s linear infinite;
		}

		&__input-file {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			cursor: pointer;
			z-index: 5;
		}
		&__view {
			display: block;
			position: absolute;
			z-index: 1;
			background-color: #FFF;
			padding: 5px;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
			text-align: center;
		}
		&__message {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			.message-icon {
				font-size: 80px;
				width: 100px;
				height: 100px;
			}
		}
	}
}

@keyframes stripes {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 60px 30px;
	}
}