<div mat-dialog-content class="categories-modal">
    <button type="button" class="close" mat-mini-fab matTooltip="Закрыть" (click)="close()" color="primary">
        <mat-icon class="close__icon">close</mat-icon>
    </button>
    <div class="categories-modal-header">
        <div class="categories-modal-header__text">
            Просмотр/изменение списка всех категорий
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="modalForm" class="col-xs-12 categories-form" *ngIf="categoriesModal$ | async as categoriesModal">
        <un-preloader *ngIf="categoriesModal.isStateLoading()"></un-preloader>
        <div class="row categories-form-body" *ngIf="!categoriesModal.isStateLoading()">
           <div class="col-xs-12">
               <div class="row padding-row" formArrayName="categories" *ngFor="let f of categories.controls; let i = index;">
                   <categories-item (deleteCategory)="deleteCategoryByIndex($event)" [index]="i" [formCategoriesItem]="f"></categories-item>
               </div>
               <div class="row">
                   <div class="col-xs-12 categories-modal-add">
                       <button type="button" mat-mini-fab matTooltip="Добавить новую категорию" (click)="addNewCategory()" color="primary">
                           <mat-icon>add</mat-icon>
                       </button>
                       <span class="categories-modal-add__text">
                           Добавить новую категорию
                       </span>
                   </div>
               </div>
           </div>
        </div>
        <div class="row categories-form-footer" *ngIf="!categoriesModal.isStateLoading()">
            <div class="col-xs-12">
                <button [disabled]="modalForm.invalid" type="submit" mat-mini-fab matTooltip="Сохранить" color="primary">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
