<div class="block-full" *ngIf="$model | async as model">
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.buyerId && model.isStateWait()">
        <div>
            Выберите покупателя из списка слева
        </div>
    </empty-area>
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.buyerId && model.isStateNone()">
        <div>
            Список покупателей на выбранную дату пуст
        </div>
    </empty-area>
    <div class="col-xs-12 plan-view" *ngIf="model.buyerId">
        <div class="row plan-view__header">
            <div class="col-xs-12">
                <div class="row header-row">
                    <div class="col-xs-6 header-row-col">
                        <span>Просмотр информации о покупателе</span>
                    </div>
                    <div class="col-xs-6">
                        <!--добавить функционал-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row plan-view__body">
            <abstract-buyer [buyerId]="model.buyerId" [mode]="model.mode" [mini]="mini" (selectBuyerEE)="selectBuyer($event)"></abstract-buyer>
        </div>
    </div>
</div>