<div class="un-progress-bar is-{{color}}">
    <div *ngIf="value" class="un-progress-bar__title">
        {{value}}%
    </div>
    <mat-progress-bar
            class="un-progress-bar__content"
            [mode]="mode"
            [value]="value">
    </mat-progress-bar>
</div>