@import "../../../../environments/variables";

.un-progress-bar {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  &__content {
    width: 50%;
  }
  &__title {
    position: absolute;
    top: 45%;
    color: $white;
  }
}

.is-light {

}

.is-dark {
  background-color: $black-light-8;
}