<div class="col-xs-12 ingredients-list" *ngIf="$model | async as model">
    <div class="row ingredients-list__header">
        <div class="col-xs-12 ingredients-list__header-col">
            <ingredients-list-controller [read]="read" [write]="write" [mini]="mini" [disabledSearch]="model.isStateLoading()">
                <!--  <span>Найдено результатов: {{model.searchesCount}} </span>-->
            </ingredients-list-controller>
        </div>
    </div>
   <div class="row ingredients-list__body">
       <un-preloader *ngIf="model.isStateLoading()" color="dark"></un-preloader>
       <div class="col-xs-12 ingredients-list__body-col" kpiStickyContainer >
           <div *ngFor="let group of model.groups" class="ingredients-list__group">
               <div class="ingredients-list__group_title {{getLowerStatus(group.status)}}"
                    *ngIf="group.list.length > 0"
                    [attr.sticky-item]="true"
                    sticky-item-clickable
               >
                   <span class="ingredients-list__group_badge">{{group.list.length}}</span>
                   {{group.title}}
               </div>
               <ingredients-list-item
                       *ngFor="let item of group.list"
                       [model]="item"
                       (click)="onClickToItem(item)"
                       [selected]="item.id === model?.selected?.id"
                       [groupStatus]="group.status">
               </ingredients-list-item>
           </div>
           <div *ngIf="!model.total && model.isStateLoaded() && !model.searchString">
               <empty-area textOnly="true">
                   <div>
                       Игредиентов нет. Вы можете создать новый
                   </div>
               </empty-area>
           </div>
           <div *ngIf="!model.total && model.isStateLoaded() && model.searchString">
               <empty-area textOnly="true">
                   <div>
                       По Вашему запросу ингредиентов не найдено
                   </div>
               </empty-area>
           </div>
           <div *ngIf="!model.total && model.isStateError()">
               <empty-area>
                   <div>
                       Ошибка получения списка ингредиентов
                   </div>
               </empty-area>
           </div>
       </div>
   </div>
</div>