<div class="photo-small" (click)="openPhotoDialog(src)">
    <button mat-mini-fab class="close" type="button" (click)="deletePhotoEmitter(src)" *ngIf="showDeleteButton" color="warn" matTooltip="Удалить">
        <mat-icon>close</mat-icon>
    </button>
    <img [src]="src | secure">
</div>
