@import "../../../../environments/mixins";

/*@include photos();*/

.ingredient-photo {
  padding-left: 1rem;
}

.photo-small {
  cursor: pointer;
  position: relative;
}

.close {
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

img {
  width: 100%;
}