@import "./variables";
// Clearfix
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin no-wrap {
	white-space: nowrap;
}

@mixin no-select {
	user-select: none;
}

@mixin dots {
	overflow: hidden;
	text-overflow: ellipsis;
	@include no-wrap();
}

@mixin wrapper {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
	border-radius: 2px;
	//transition: all .3s ease-in-out 0s;
	background: #ffffff;
	/*&:hover {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}*/
	/*&>div {
		border-radius: 8px;
	}*/
}

@mixin photos {
	.img-wrapper {
		cursor: pointer;
		&-shadow {
			box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
			position: relative;
			overflow: hidden;
			img {
				position: relative;
				width: 100%;
				outline: 1px solid rgba(0, 0, 0, 0.2);
				display: block;
			}
		}
		padding: 0;
		position: relative;
		//overflow: hidden;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		&-box {
			padding: 6px;
		}
	}
}

@mixin close-button-modal {
	.close {
		position: absolute;
		top: -12px;
		right: -12px;
		cursor: pointer;
		background: $white;

		&__icon {
			color: $black;
		}
	}
}

@mixin union-material-text {
	color: $black-material;
	font-size: 13px;
	font-weight: 400;
}

@mixin union-material-text-color {
	color: $black-material;
}

@mixin union-material-text-color-disabled {
	color: $black-material-disabled;
}

@mixin button-delete {
	position: absolute;
	right: 0;
	top: 0;
}