$main-bg-color: #ECECEC;
$text-color: #7A7A7A;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;
// sizes
$base-gutter: 8px;

$size-xs: $base-gutter * 3;
$size-s: $base-gutter * 4;
$size-m: $base-gutter * 5;
$size-l: $base-gutter * 6;

$width-menu: 64px;
$width-menu-full: 270px;

// gray
$black:      #000000;
$black-light-8: rgba(0,0,0,0.8);
$black-light-54: rgba(0,0,0,.54);
$black-material: rgba(0,0,0,.5);
$black-material-disabled: rgba(0,0,0,.2);
$black-material-disabled-text: rgba(0,0,0,.68);
$black-blue: rgb(43, 50, 58);
$black-blue-hover: #313942;
$black-blue-active: #20252b;
$gray-apple: #f1f1f1;
$gray-union: #fafafa;
$gray-union-text-55: rgba(255, 255, 255, 0.55);
$gray-union-body: #e5e6e6;
$gray-union-border: #e5e5e5;
$gray-union-border-2: #f2f3f3;
$gray-union-header-text: #3a405b;
$mine-shaft: #333333;
$dove-gray:  #474747;
$boulder:    #777777;
$silver:     #cccccc;
$alto:       #dddddd;
$concrete:   #f2f2f2;
$white:      #ffffff;

// green
$green-success: #4caf50;
$firefly:   #0f3d3d;
$elm-2:     #165b5b;
$elm-1:     #1e7a7a;
$elm:       #269999; //base
$sindbad:   #a8d6d6;
$aqua-haze: #d3eaea;
$green-union-1: #4caf50;
$green-union-2: #0aa89e;

// blue
$blue-union: #368bf4;
$elephant:      #143d51;
$blumine:       #1e5b7a;
$jelly-bean:    #287aa3;
$shakespeare:   #3399cc; //base
$regent-stblue: #add6ea;
$spindle:       #d6eaf4;

//purple
$purple-union: #ab36f4;
$purple-union-1: #f136f4;

// orange
$sepia:         #663c13;
$desert:        #995b1c;
$ochre:         #cc7926;
$neon-carrot:   #ff9830; //base
$peach-orange:  #ffd5ac;
$karry:         #ffead5;
$orange-union-1: #ff9800;

// red
$red-error: #f44336;
$cocoa-bean:    #5c2424;
$sanguine-brown:#8a3737;
$chestnut:      #b84949;
$sunglo:        #e65c5c; //base
$beauty-bush-1: #f5bdbd;
$beauty-bush-2: #fadede;
$red-union-1: #f44336;
$red-union-rgba-2: rgba(244, 67, 54, 0.2);