
// sizes
$base-gutter: 8px;

$size-xs: $base-gutter * 3;
$size-s: $base-gutter * 4;
$size-m: $base-gutter * 5;
$size-l: $base-gutter * 6;

// naming from http://chir.ag/projects/name-that-color/#FFFFFF

// extended
$alabaster:          #f7f7f7;
$mercury:            #e4e4e4;
$dusty-gray:         #999999;
$caper:              #deedb2;
$catskill-white:     #eaf5f5;
$swans-down:         #d4ebeb;
$spindle:            #c2e1f0;
$ziggurat:           #b1dbdb;
$spray:              #90ecf5;
$double-pearl-lusta: #fcf5c8;
$texas:              #fbEd9d;
$salomie:            #ffe688;
$ecstasy:            #f8891c;
$flame-pea:          #de5a41;

// gray
$black:         #000000;
$mine-shaft:    #333333;
$tundora:       #474747;
$boulder:       #777777;
$silver:        #cccccc;
$alto:          #dddddd;
$concrete:      #f2f2f2;
$white:         #ffffff;

// green
$elephant:      #0f3d3d;
$eden:          #165b5b;
$elm:           #1e7a7a;
$jungle-green:  #269999; //base
$sindbad:       #a8d6d6;
$botticelli:    #d3eaea;

// blue
$elephant:      #143d51;
$blumine:       #1e5b7a;
$jelly-bean:    #287aa3;
$curious-blue:  #3399cc; //base
$regent-stblue: #add6ea;
$link-water:    #d6eaf4;

// orange
$sepia:         #663c13;
$rope:          #995b1c;
$ochre:         #cc7926;
$neon-carrot:   #ff9830; //base
$caramel:       #ffd5ac;
$karry:         #ffead5;

// red
$cocoa-bean:    #5c2424;
$sanguine-brown:#8a3737;
$chestnut:      #b84949;
$mandy:         #e65c5c; //base
$mandys-pink:   #f5bdbd;
$cherub:        #fadede;