<div class="col-xs-12 products-list-controller" *ngIf="$model | async as model">
    <div class="row products-list-controller__header">
        <div class="col-xs-12 header-col">
            <div class="row header-row">
                <div class="col-xs-6 header-row-col">
                    <span>Товары</span>
                </div>
                <div class="col-xs-6">
                    <div class="row end-xs">
                        <div class="col-xs-12">
                            <!--<button mat-mini-fab type="button" matTooltip="Перейти в корзину" *ngIf="write">
                               <mat-icon>delete_forever</mat-icon>
                            </button>-->
                            <button mat-mini-fab type="button" [disabled]="disabledSearch" color="primary" (click)="createNew()" matTooltip="Добавить новый товар" *ngIf="write && !mini">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row products-list-controller__body" [formGroup]="formController" (ngSubmit)="onSubmit()">
        <div class="col-xs-12">
            <mat-form-field>
                <input #searchString matInput placeholder="Поиск по названию" formControlName="name" (keyup)="onSubmitInterval($event)">
            </mat-form-field>
            <button  mat-mini-fab color="primary" type="submit" matTooltip="Поиск товара по названию">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>