<div class="" ngbDropdown #ngbDropdown="ngbDropdown" role="group">
    <div class="col-xs-12">
        <div class="row">
            <div class="value-wrapper col-xs-12" ngbDropdownToggle>
                <ng-content select="[toggle]"></ng-content>
            </div>
        </div>
    </div>
    <div class="col-xs-12" [ngClass]="{'is-open': ngbDropdown.isOpen()}" ngbDropdownMenu>
        <ng-content select="[content]"></ng-content>
    </div>
</div>