﻿<div class="row center-xs middle-xs login-row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 login">
        <div class="row">
            <div class="col-xs-12">
                <h2>Авторизация</h2>
            </div>
        </div>
        <div class="row">
            <form class="col-xs-12" name="form" (ngSubmit)="login()" [formGroup]="userForm">
                <div class="row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Введите имя пользователя" formControlName="name" name="name" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-xs-12">
                        <input matInput placeholder="Введите пароль" type="password" formControlName="password" name="password" required>
                    </mat-form-field>
                </div>
                <button mat-raised-button type="submit" [disabled]="state.isStateLoading()">Войти</button>
                <button *ngIf="false" mat-raised-button [routerLink]="['/register']">Регистрация</button>
            </form>
        </div>
        <un-preloader *ngIf="state.isStateLoading()"></un-preloader>
    </div>
</div>