@import "../../environments/mixins";
@import "../../environments/variables";

.login {
  position: relative;
  padding: 35px;
  color: $green-union-2;
  @include wrapper();
}
.login-row {
  height:100%;
  margin: 0;
}