<div class="row review" [formGroup]="formReview" *ngIf="abstractReviewModel$ | async as abstractReviewModel">
    <div class="col-xs-12">
        <div class="row" *ngFor="let f of formReview.controls; let i = index;">
            <div class="col-xs-12">
                <un-review-item [formReviewItem]="f" [mode]="mode" (deleteReview)="deleteReviewByIndex($event)" [index]="i"></un-review-item>
            </div>
        </div>
        <div class="row" *ngIf="abstractReviewModel.isStateLoading()">
            <div class="col-xs-12 review__empty">
                <un-preloader color="dark"></un-preloader>
            </div>
        </div>
        <div class="row" *ngIf="!abstractReviewModel.isStateLoading() && !formReview?.controls?.length || abstractReviewModel.isStateError()">
            <div class="col-xs-12 review__empty">
                <empty-area *ngIf="abstractReviewModel.isStateError()">
                    <div>
                        Ошибка загрузки отзывов товара
                    </div>
                </empty-area>
                <empty-area textOnly="true" *ngIf="!abstractReviewModel.isStateLoading() && !abstractReviewModel.isStateError() && !formReview?.controls?.length">
                    <div>
                        Отзывов пока нет
                    </div>
                </empty-area>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isModeEdit() || isModeCreate()">
    <div class="col-xs-12 review__add">
        <button mat-mini-fab type="button" color="primary" (click)="addNewReview()" matTooltip="Добавить новый отзыв о товаре">
            <mat-icon>add</mat-icon>
        </button>
        <span class="review__text">Добавьте отзыв о товаре</span>
    </div>
</div>