@import "../../environments/variables";

.review {
  &__text {
    font-size: 14px;
    color: $boulder;
  }
  &__add {
    padding-bottom: 6px;
    padding-top: 6px;
  }
  &__empty {
    height: 200px;
  }
}