<div class="block-full" *ngIf="$model | async as model">
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.ingredientId && model.isStateWait()">
        <div>
            Выберите ингредиент из списка слева
        </div>
    </empty-area>
    <empty-area textOnly="true" [relative]="true" *ngIf="!model.ingredientId && model.isStateNone()">
        <div>
            Список ингредиенов пуст
        </div>
    </empty-area>
    <div class="col-xs-12 ingredients-view" *ngIf="model.ingredientId">
        <div class="row ingredients-view__header">
            <div class="col-xs-12">
                <div class="row header-row">
                    <div class="col-xs-6 header-row-col">
                        <span>Просмотр информации об ингредиенте</span>
                    </div>
                    <div class="col-xs-6">
                        <!--добавить функционал-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row ingredients-view__body">
            <abstract-ingredient [ingredientId]="model.ingredientId" [mode]="model.mode" [mini]="mini" (selectIngredientEE)="selectIngredient($event)"></abstract-ingredient>
        </div>
    </div>
</div>