<div *ngIf="model$ | async as model" class="ingredients-wrapper">
    <div class="row ingredients" *ngIf="model.read">
        <div class="col-xs-12 col-md-4 ingredients-list-wrapper">
            <div class="row">
                <ingredients-list [read]="model.read" [write]="model.write" [mini]="mini" [isAdditional]="isAdditional"></ingredients-list>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 ingredients-view-wrapper">
            <div class="row">
                <ingredients-view [read]="model.read" [write]="model.write" [mini]="mini" (selectIngredientEE)="selectIngredient($event)"></ingredients-view>
            </div>
        </div>
    </div>
</div>