<div class="row" [formGroup]="formGroupParent">
    <div class="col-xs-12">
        <div class="row">
            <mat-form-field class="col-xs-12 field">
                <input matInput placeholder="Адрес" [formControl]="formControlAddress" [disableControl]="isModeView()">
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ya-map [latitude]="points && points[0] && points[0].lat || 55.76" [longitude]="points && points[0] && points[0].lng || 37.64" [zoom]="9">
                    <ya-marker *ngFor="let point of points" [latitude]="point.lat" [longitude]="point.lng"
                               [balloonContentHeader]="point.balloonHeader">
                    </ya-marker>
                </ya-map>
            </div>
        </div>
    </div>
</div>