@import "../../../../environments/variables";

.preloader-wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}

.is-light {

}

.is-dark {
  background-color: $black-light-8;
}