<div class="products-list-item {{getLowerStatus(model?.status)}}"
     [attr.sticky-item]="selected"
     [ngClass]="{'is-focused': selected}"
>
    <div class="products-list-item__time" [ngSwitch]="model?.status">
        <div *ngSwitchCase="enumStatus.DELETED_INGREDIENT"></div>
        <div *ngSwitchCase="enumStatus.AVAILABLE"></div>
        <div *ngSwitchCase="enumStatus.NOT_AVAILABLE"></div>
        <div>
            <!--<span>Количество:</span>-->
            <span [innerHTML]="getFormatDate(model.date) | highlightText: searchString"></span>
        </div>
    </div>

    <div class="products-list-item__description">
        <div class="products-list-item__fullname"
             [innerHTML]="model.name | highlightText: searchString">
        </div>
       <!-- <div class="products-list-item__text spec-products-list-item_search-mode" *ngIf="searchMode">
            <span class="products-list-item__text_label">Полис ОМС: </span>
            <span class="products-list-item__text_value"
                  [innerHTML]="model.omsNumber | kpiOms | highlightText: searchString: 'is-extra': true"></span>
        </div>-->
    </div>
 <!--   <div class="products-list-item__on">
        <div class="products-list-item__fullname">
           <mat-checkbox  [ngModel]="model.on" [disabled]="true"></mat-checkbox>
        </div>
    </div>-->
    <div class="products-list-item__button-remove">
        <button mat-mini-fab type="button" color="primary" [disabled]="disabledIncrementButtons" (click)="removeOneProduct($event)" matTooltip="Уменьшить товар на 1 (Товар меньше 0 быть не может, но ингредиенты уменьшать можно">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
    <div class="products-list-item__count count-{{getLowerStatus(model?.status)}}">
        <span [innerHTML]="model.count | highlightText: searchString"></span>
    </div>
    <div class="products-list-item__button-add">
        <button mat-mini-fab type="button" color="primary" (click)="addOneProduct($event)" [disabled]="disabledIncrementButtons" matTooltip="Увеличить товар на 1">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
