@import "../../../environments/variables";
@import "../../../environments/mixins";

$height-footer: 70px;

.ingredient-form {
  height: 100%;
}

.field-date {
  padding-right: 1rem;
  padding-left: 1rem;
}
.field-status {
  padding-right: 1rem;
  padding-left: 1rem;
}

.ingredient-info,.ingredient-ingredients, .ingredient-photos {
  @include wrapper();
  margin-bottom: 6px;
  &__header {
    background-color: $green-union-2;
    color: $white;
    font-size: 1.125rem;
    padding: 10px;
    border-bottom: 1px solid $green-union-2;
    border-radius: 0!important;
  }
  &__body {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.ingredient-photos {
  &__empty {
    position: relative;
    height: 100px;
  }
}

.ingredient-empty {
  @include wrapper();
  padding: 10px;
  margin-bottom: 6px;
  &__button {

  }
  &__text {
    font-size: 14px;
    color: $boulder;
  }
}

.field {
  margin-bottom: 6px;
}

.actions-button {
  font-size: 35px
}

.ingredient-modal {
  &__body {
    overflow: auto;
    height: calc(100% - #{$height-footer});
  }
  &__footer {
    background-color: $white;
    height:$height-footer;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }
}

.is-modal {
  height: 100%;
  .ingredient-modal {
    &__body {
      padding: 6px;
      background: $gray-union-body;
      overflow: auto;
      height: calc(100% - #{$height-footer});
    }
    &__footer {
      border-top: 1px solid #e5e5e5;
      height:$height-footer;
      padding-top: 20px;
    }
  }
}

.union-material-text {
  margin-bottom: 6px;
  @include union-material-text();
}

@include close-button-modal();
@include photos();

:host {
  width: 100%;
  height: 100%;
}