<un-progress-bar [value]="uploader.progress" mode="determinate" color="dark" *ngIf="isStateLoading()"></un-progress-bar>
<form (ngSubmit)="onSubmit()" class="col-xs-12 ingredient-form" [ngClass]="{'is-modal': isModeEdit() || isModeCreate()}" [formGroup]="ingredientForm">
    <div class="row ingredient-modal__body">
        <div class="col-xs-12">
            <div class="row">
                <!--<div class="col-xs-12 ingredient-header">
                    <div class="row ingredient-info__header">
                        <div class="col-xs-12">
                            <span *ngIf="isModeCreate()">Создание нового ингредиента</span>
                            <span *ngIf="isModeEdit()">Редактирование ингредиента</span>
                            <span *ngIf="isModeView()">Просмотр ингредиента</span>
                        </div>
                    </div>
                </div>-->
                <div class="col-xs-12 ingredient-info" *ngIf="abstractIngredientFullModel$ | async as abstractIngredientFullModel">
                    <div class="row ingredient-info__header">
                        <div class="col-xs-12">
                            <span>Информация об ингредиенте</span>
                        </div>
                    </div>
                    <div class="row ingredient-info__body">
                        <un-preloader *ngIf="abstractIngredientFullModel.isStateLoading()" color="dark"></un-preloader>
                        <div class="col-xs-12">
                            <div class="row">
                                <mat-form-field class="col-xs-12 field">
                                    <input matInput placeholder="Название" formControlName="name" required [disableControl]="isModeView()">
                                    <mat-error *ngIf="ingredientForm.get('name')?.invalid">Заполните название ингредиента</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="box field">
                                        <input matInput placeholder="Количество" type="number" min="1" formControlName="count" [disableControl]="isModeView()">
                                        <mat-error *ngIf="ingredientForm.get('count')?.invalid">Введите количество</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="box field">
                                        <mat-select placeholder="Единица измерения" formControlName="countUnit" [disableControl]="isModeView()">
                                            <mat-option *ngFor="let s of eCountUnit" [value]="s">{{getCountUnitTitle(s)}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field>
                                        <mat-select placeholder="Тип ингредиента" formControlName="type" [disableControl]="isModeView()">
                                            <mat-option *ngFor="let s of eType" [value]="s">{{getTypeTitle(s)}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="box field">
                                        <input matInput placeholder="Себестоимость" type="number" min="1" formControlName="costPrice" required [disableControl]="isModeView()">
                                        <mat-error *ngIf="ingredientForm.get('costPrice')?.invalid">Введите себестоимость</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="box field">
                                        <input matInput placeholder="Цена на продажу" type="number" min="1" formControlName="sellPrice" required [disableControl]="isModeView()">
                                        <mat-error *ngIf="ingredientForm.get('sellPrice')?.invalid">Введите цену на продажу</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 union-material-text">Алкоголь</div>
                                <mat-radio-group class="col-xs-12 field" formControlName="alco" [disableControl]="isModeView()">
                                    <mat-radio-button [value]="true">Да</mat-radio-button>
                                    <mat-radio-button [value]="false">Нет</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 union-material-text">Это дополнительный ингредиент</div>
                                <mat-radio-group class="col-xs-12 field" formControlName="isAdditional" [disableControl]="isModeView()">
                                    <mat-radio-button [value]="true">Да</mat-radio-button>
                                    <mat-radio-button [value]="false">Нет</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12 field" >
                                    <textarea matInput placeholder="Описание" formControlName="description" [disableControl]="isModeView()"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"  *ngIf="abstractIngredientFullPhotosModel$ | async as abstractIngredientFullPhotosModel">
                <div class="col-xs-12 ingredient-photos">
                    <div class="row ingredient-photos__header">
                        <div class="col-xs-12">
                            <span>Фотографии ингредиента</span>
                        </div>
                    </div>
                    <div class="row ingredient-photos__body">
                        <un-preloader *ngIf="abstractIngredientFullPhotosModel.isStateLoading()" color="dark"></un-preloader>
                        <div class="col-xs-12">
                            <div class="row" *ngIf="!photos.value.length">
                                <div class="col-xs-12 ingredient-photos__empty">
                                    <empty-area textOnly="true">
                                        <div>
                                            Фотографий ингредиента пока нет
                                        </div>
                                    </empty-area>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 photos-item" formArrayName="photos"
                                     *ngFor="let p of photos.controls; let i = index;">
                                    <photo-small [src]="apiUrl + '/' + p.value" [showDeleteButton]="isModeEdit() || isModeCreate()" (deletePhoto)="deletePhoto(i)"></photo-small>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12" *ngIf="isModeCreate() || isModeEdit()">
                                    <un-image-uploader [uploader]="uploader"></un-image-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ingredient-modal__footer">
        <div class="col-xs-6" *ngIf="!mini && (isModeEdit() || isModeCreate())">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-save" mat-mini-fab type="submit" color="primary" [disabled]="ingredientForm.invalid" matTooltip="Сохранить" >
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="!mini && isModeEdit()">
            <div class="row end-xs">
                <div class="col-xs-12">
                    <button class="button-edit" color="warn" mat-mini-fab type="button"
                            matTooltip="Удалить ингредиент"
                            (click)="removeIngredient(ingredientId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="!mini && isModeView()">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button  class="button-action button-edit" mat-mini-fab type="button"
                            matTooltip="Редактировать ингредиент"
                            color="primary"
                            (click)="editIngredient(ingredientId)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="mini">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-action" color="primary" mat-mini-fab type="button" matTooltip="Выбрать данный ингредиент" (click)="selectIngredient(ingredientId)">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>