@import "../../../../environments/variables";

:host {
  display: block;
  width: 100%;
  height: 100%;
}
.plan-list-controller {
  &__header {
    font-size: 1.125rem;
    /*    padding: 10px;*/
    background: $green-union-2;
    color: $white;
    height: 60px;
    border-bottom: 1px solid $gray-union-border;
    &_col {
      line-height: 40px;
    }
  }
}

.header {
  &-col {

  }
  &-row {
    height: 100%;
    padding: 6px;
    &-col {
      padding-top: 10px;
    }
  }
}