<div class="col-xs-12 plan-list-controller" *ngIf="$model | async as model">
    <div class="row plan-list-controller__header">
        <div class="col-xs-12 header-col">
            <div class="row header-row">
                <div class="col-xs-6 header-row-col">
                    <span>Покупатели</span>
                </div>
                <div class="col-xs-6">
                    <div class="row end-xs">
                        <div class="col-xs-12">
                            <!--<button mat-mini-fab type="button" matTooltip="Перейти в корзину" *ngIf="write">
                               <mat-icon>delete_forever</mat-icon>
                            </button>-->
                            <button mat-mini-fab type="button" [disabled]="disabledSearch" class="button-add" color="primary" (click)="createNew()" matTooltip="Добавить нового покупателя" *ngIf="write && !mini">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row plan-list-controller__body">
        <div class="col-xs-12">
            <date-spinner
                    [ngModel]="model.dateDelivery"
                    (onChangeModel)="change($event)">
            </date-spinner>
        </div>
    </div>
</div>




