@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/flexboxgrid/css/flexboxgrid.min.css';
@import '../src/app/environments/mixins';
@import '../src/app/environments/variables-extend';
@import '../src/app/environments/variables';
@import '../src/app/environments/flexiblegs-scss';
@import '../src/app/libraries/common/ui/snackbar/un-snack-bar.component';
@import '../src/app/libraries/common/ui/dialog/un-dialog.component';
@import '../src/app/libraries/common/ui/un-time-picker/un-time-picker.component';
@import '~@angular/material/theming';
@import "~angular-star-rating/assets/scss/star-rating";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    height: 100vh;
    background: $gray-union-body;
    width: 100%;
}

mark.is-extra {
    background-color: #F8E71C;
    padding: 0;
}


.margin-top-xs {
    margin-top: 12px;
}

@media only screen and (max-width: 46rem) and (min-width: 0rem) {
    .margin-top-xs {
        margin-top: 70px;
    }

    .invisible-xs {
        display: none !important;
        visibility: hidden !important;
    }

    .map-container-inner {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 46rem) and (max-width: 61rem) {
    .margin-top-sm {
        margin-top: 80px;
    }
    .invisible-sm {
        display: none !important;
        visibility: hidden !important;
    }
    .invisible-from-xs {
        display: none !important;
        visibility: hidden !important;
    }

    .map-container-inner {
        width: 400px;
        height: 250px;
    }
}

@media only screen and (max-width: 71rem) and (min-width: 61rem) {
    .invisible-md {
        display: none !important;
        visibility: hidden !important;
    }
    .invisible-from-xs {
        display: none !important;
        visibility: hidden !important;
    }

    .map-container-inner {
        width: 500px;
        height: 300px;
    }
}

@media only screen and (min-width: 71rem) {
    .invisible-lg {
        display: none !important;
        visibility: hidden !important;
    }
    .invisible-from-xs {
        display: none !important;
        visibility: hidden !important;
    }

    .map-container-inner {
        width: 400px;
        height: 300px;
    }
}

.rating {
    outline: none;
}

.mat-input-element:disabled, .mat-select-disabled .mat-select-value, .mat-radio-disabled .mat-radio-label-content {
    -webkit-text-fill-color: $black-material-disabled-text !important;
    color: $black-material-disabled-text !important;
    opacity: 1 !important;
}