<div *ngIf="model$ | async as model" class="products-wrapper">
    <div class="row products" *ngIf="model.read">
        <div class="col-xs-12 col-md-4 products-list-wrapper">
            <div class="row">
                <products-list [read]="model.read" [write]="model.write" [mini]="mini"></products-list>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 products-view-wrapper">
            <div class="row">
                <products-view [read]="model.read" [write]="model.write" [mini]="mini" (selectProduct)="selectProductEE($event)"></products-view>
            </div>
        </div>
    </div>
</div>