@import "../../environments/variables";

.products {
  background: transparent;
  margin: 0;
  padding-bottom: 6px;
  height: 100%;
  &-wrapper {
    width: 100%;
    height: 100%;
  }
  &-list-wrapper {
    padding-top: 6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-height: 100vh;
    &> .row {
      height: 100%;
    }
  }
  &-view-wrapper {
    padding-top: 6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    &> .row {
      height: 100%;
    }
  }
}

:host {
  width: 100%;
  height:100%;
}