@import "../../../environments/variables";

.is-hover {
  width: $width-menu-full !important;
  .link-right {
    opacity: 1 !important;
    display: block !important;
  }
}

.menu-all-wrapper {
  font-size: 12px;
  background: $black-blue;
  height: 100%;
  width: $width-menu;
  transition: width 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
}

.menu {
  &-item {
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover {
      .link {
        cursor: pointer;
        background: $black-blue-hover;
        &-icon {
          background-color: rgba(255, 255, 255, 0.12);
          color: $white;
          border-color: transparent;
        }
        &-text {
          color: $white;
        }
      }
    }
    .link {
      display: block;
      position: relative;
      min-height: 40px;
      color: rgba(255, 255, 255, 0.65);
      padding: 12px;
      &-left {
        position: absolute;
        line-height: 57px;
      }
      &-right {
        position: absolute;
        margin-left: 57px;
        opacity: 0;
        display: none;
        line-height: 45px;
      }
      &-icon {
        background: transparent;
        width: 40px;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 50%;
        text-align: center;
      }
      &-text {
        text-shadow: 0 1px 2px $black;
        color: $gray-union-text-55;
      }
    }
    &_is-active {
      .link {
        background: $black-blue-active;
        &-icon {
          color: $green-union-2;
          background: $white;
          border: 1px solid $white;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: $white;
    outline: none;
    transition: color 0.4s ease 0s;
  }
  .is-disabled {
    &:hover > .menu-item {
      display: none;
    }
  }
}

.burger {
  font-size: 22px;
  cursor: pointer;
  background: #2b323a;
  height: 47px;
  color: $gray-union-text-55;
  &-icon {
    padding-top: 12px;
    padding-left: 10px;
  }
}

.panel {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 47px);
  top: 47px;
  z-index: 11;
  font-size: 12px;
  background: #2b323a;
  transition: width 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01);
  .link {
    &-right {
      position: absolute;
      margin-left: 57px;
      opacity: 1;
      display: block;
      line-height: 45px;
    }
  }
}