<div class="menu-all-wrapper invisible-xs"
     (mouseenter) ="mouseEnter()"
     [ngClass]="{'is-hover': isHover}"
     (mouseleave)="mouseLeave()"
    >
    <div class="menu">
        <div class="menu-item menu-item-user">
            <div class="link">
                <div class="link-left">
                    <div class="link-icon">
                        <mat-icon>account_circle</mat-icon>
                    </div>
                </div>
                <div class="link-right">
                    <div class="link-text">
                        <span>{{user.username}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div *ngFor="let item of items"
             [ngClass]="{'is-disabled': item.disabled, 'menu-item_is-active': item.isActive}"
             class="menu-item"
        >
            <a (click)="onClick(item)"
               *ngIf="!item.isUnavailable"
               class="link"
               [routerLink]="item.url"
            >
                <div class="link-left">
                    <div class="link-icon">
                        <mat-icon>{{item.icon}}</mat-icon>
                    </div>
                </div>
                <div class="link-right">
                    <div class="link-text">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </a>
            <!--<menu-item [item]="item"></menu-item>-->
        </div>
    </div>
</div>
<outside-close-dropdown #dropdown class="invisible-from-xs">
    <div class="burger row" toggle>
        <div class="burger-icon">
            <mat-icon>{{dropdown.ngbDropdown.isOpen() ? 'close' : 'menu'}}</mat-icon>
        </div>
    </div>
    <div content class="panel">
        <div class="menu-item menu-item-user">
            <div class="link">
                <div class="link-left">
                    <div class="link-icon">
                        <mat-icon>account_circle</mat-icon>
                    </div>
                </div>
                <div class="link-right">
                    <div class="link-text">
                        <span>{{user.username}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div *ngFor="let item of items"
             [ngClass]="{'is-disabled': item.disabled, 'menu-item_is-active': item.isActive}"
             class="menu-item"
        >
            <a (click)="onClick(item);dropdown.close = true;"
               *ngIf="!item.isUnavailable"
               class="link"
               [routerLink]="item.url"
            >
                <div class="link-left">
                    <div class="link-icon">
                        <mat-icon>{{item.icon}}</mat-icon>
                    </div>
                </div>
                <div class="link-right">
                    <div class="link-text">
                        <span>{{item.name}}</span>
                    </div>
                </div>
            </a>
            <!--<menu-item [item]="item"></menu-item>-->
        </div>
    </div>
</outside-close-dropdown>