<div class="ingredients-list-item {{getLowerStatus(model?.status)}}"
     [attr.sticky-item]="selected"
     [ngClass]="{'is-focused': selected}"
>
    <div class="ingredients-list-item__time">
        <!--<div>
            <span>Количество:</span>
            <span [innerHTML]="model.count | highlightText: searchString"></span>
        </div>-->
    </div>

    <div class="ingredients-list-item__description">
        <div class="ingredients-list-item__fullname"
             [innerHTML]="model.name | highlightText: searchString">
        </div>
       <!-- <div class="products-list-item__text spec-products-list-item_search-mode" *ngIf="searchMode">
            <span class="products-list-item__text_label">Полис ОМС: </span>
            <span class="products-list-item__text_value"
                  [innerHTML]="model.omsNumber | kpiOms | highlightText: searchString: 'is-extra': true"></span>
        </div>-->
    </div>

    <div class="ingredients-list-item__count count-{{getLowerStatus(model?.status)}}">
        <span [innerHTML]="model.count | highlightText: searchString"></span>
    </div>
</div>
