<div mat-dialog-content class="products-select-ingredient">
    <button class="button-back" color="primary" mat-mini-fab type="button" matTooltip="Вернуться назад" (click)="close(null)">
        <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="col-xs-12 modal">
        <div class="row modal-row">
            <ingredients [mini]="true" (selectIngredientEE)="selectIngredient($event)" [isAdditional]="data?.isAdditional"></ingredients>
        </div>
    </div>
</div>