@import "../../../environments/variables";
@import "../../../environments/mixins";

$height-footer: 70px;

.field-status {
  padding-right: 1rem;
  padding-left: 1rem;
}

.product-form {
  height: 100%;
}

.product-info, .product-photos, .product-header, .product-ingredients, .product-rating, .product-review, .product-question {
  @include wrapper();
  margin-bottom: 6px;
  &__header {
    background-color: $green-union-2;
    color: $white;
    font-size: 1.125rem;
    padding: 10px;
    border-bottom: 1px solid $green-union-2;
    border-radius: 0!important;
  }
  &__body {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}


.product-review, .product-question, .product-ingredients {
  &__body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.product-photos {
  &__empty {
    height: 100px;
    position: relative;
  }
}

.field {
  margin-bottom: 1.25em;
}

.products-modal {
  &__body {
    overflow: auto;
    height: calc(100% - #{$height-footer});
  }
  &__footer {
    background-color: $white;
    height:$height-footer;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }
}

.is-modal {
  height: 100%;
  .products-modal {
    &__body {
      background: $gray-union-body;
      padding: 6px;
      overflow: auto;
      height: calc(100% - #{$height-footer});
    }
    &__footer {
      border-top: 1px solid #e5e5e5;
      height:$height-footer;
      padding-top: 20px;
    }
  }
}

.union-material-text {
  margin-bottom: 6px;
  @include union-material-text();
}

.padding-row {
  padding-top: 12px;
  padding-bottom: 12px;
}

@include close-button-modal();
@include photos();

:host {
  width: 100%;
  height: 100%;
}

.product-box {
  padding-left: 1rem;
  padding-right: 1rem;
}

.union-material-text-color {
  @include union-material-text-color();
}