<un-progress-bar [value]="uploader.progress" mode="determinate" color="dark"
                 *ngIf="isStateLoading()"></un-progress-bar>
<form (ngSubmit)="onSubmit()" class="col-xs-12 product-form" [ngClass]="{'is-modal': isModeEdit() || isModeCreate()}"
      [formGroup]="productForm">
    <div class="row products-modal__body" *ngIf="abstractProductFullModel$ | async as abstractProductFullModel">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 product-info">
                    <div class="row product-info__header">
                        <div class="col-xs-12">
                            <span>Информация о товаре</span>
                        </div>
                    </div>
                    <div class="row product-info__body">
                        <un-preloader *ngIf="abstractProductFullModel.isStateLoading()" color="dark"></un-preloader>
                        <div class="col-xs-12">
                            <div class="row padding-row">
                                <div class="col-xs-12">
                                    <div class="union-material-text">Отобразить на сайте</div>
                                    <mat-checkbox formControlName="on" [disableControl]="isModeView()"></mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12">
                                    <input matInput placeholder="Название" formControlName="name"
                                           [disableControl]="isModeView()" required>
                                    <mat-error *ngIf="productForm.get('name')?.invalid">Заполните название
                                        товара
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput placeholder="Старая цена" type="number" min="1"
                                               [disableControl]="isModeView()"
                                               formControlName="priceOld">
                                        <mat-error *ngIf="productForm.get('priceOld')?.invalid">Введите старую
                                            цену
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-icon class="union-material-text-color"
                                              matTooltip="Если требуется указать на сайте скидку, то вводим данную цену (до скидки)">
                                        info
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput placeholder="Текущая цена" type="number" min="1" required
                                               [disableControl]="isModeView()"
                                               formControlName="priceCurrent">
                                        <mat-error *ngIf="productForm.get('priceCurrent')?.invalid">Введите текущую
                                            цену (Не меньше 1)
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput placeholder="Себестоимость" type="number" required
                                               [disableControl]="true"
                                               formControlName="sumCostPriceIngredients">
                                        <mat-error *ngIf="productForm.get('sumCostPriceIngredients')?.invalid">Себестоимость
                                            неверна
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-icon class="union-material-text-color"
                                              matTooltip="Себестоимость товара. Считается автоматически, исходя из себестоимости ингредиентов (Только основных).">
                                        info
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput placeholder="Предварительная стоимость" type="number" required
                                               [disableControl]="true"
                                               formControlName="sumSellPriceIngredients">
                                        <mat-error *ngIf="productForm.get('sumSellPriceIngredients')?.invalid">Предварительная стоимость товара
                                            неверна
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-icon class="union-material-text-color"
                                              matTooltip="Предварительная стоимость товара. Считается автоматически, исходя из 'цены на продажу' ингредиентов (Только основных).">
                                        info
                                    </mat-icon>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="field">
                                        <input matInput [matDatepicker]="dp" placeholder="Дата" formControlName="date"
                                               required
                                               name="date" [disableControl]="isModeView()">
                                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                        <mat-datepicker #dp></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row field">
                                <div class="col-xs-12">
                                    <div class="union-material-text">Содержит алкоголь
                                        <mat-icon matTooltip="Считается автоматически, исходя из ингредиентов (Только основных)">info
                                        </mat-icon>
                                    </div>
                                    <mat-radio-group formControlName="alco" [disableControl]="true">
                                        <mat-radio-button [value]="true">Да</mat-radio-button>
                                        <mat-radio-button [value]="false">Нет</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-xs-12">
                                            <textarea matInput placeholder="Описание" [disableControl]="isModeView()"
                                                      formControlName="description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="row" *ngIf="abstractProductFullModel?.product?.collections">
                                <div class="col-xs-12">
                                    <un-collections [formCollections]="productForm.get('collections')" [mode]="mode"
                                                    [collectionsInput]="abstractProductFullModel?.product?.collections"></un-collections>
                                </div>
                            </div>
                            <div class="row" *ngIf="abstractProductFullModel?.product?.categories">
                                <div class="col-xs-12">
                                    <un-categories [formCategories]="productForm.get('categories')" [mode]="mode"
                                                   [categoriesInput]="abstractProductFullModel?.product?.categories"></un-categories>
                                </div>
                            </div>
                            <div class="row" *ngIf="abstractProductFullModel?.product?.type">
                                <div class="col-xs-12">
                                    <products-type [formProductsType]="productForm.get('type')" [mode]="mode"
                                                   [productTypes]="abstractProductFullModel?.product?.type"></products-type>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="abstractProductFullPhotosModel$ | async as abstractProductFullPhotosModel">
                <div class="col-xs-12 product-photos">
                    <div class="row product-photos__header">
                        <div class="col-xs-12">
                            <span>Фотографии товара</span>
                        </div>
                    </div>
                    <div class="row product-photos__body">
                        <un-preloader *ngIf="abstractProductFullPhotosModel.isStateLoading()"
                                      color="dark"></un-preloader>
                        <div class="col-xs-12">
                            <div class="row" *ngIf="!abstractProductFullPhotosModel.isStateLoading()">
                                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 photos-item" formArrayName="photos"
                                     *ngFor="let p of photos.controls; let i = index;">
                                    <photo-small [src]="apiUrl + '/' + p.value"
                                                 [showDeleteButton]="isModeEdit() || isModeCreate()"
                                                 (deletePhoto)="deletePhoto(i)"></photo-small>
                                </div>
                            </div>
                            <div class="row" *ngIf="!photos.value.length">
                                <div class="col-xs-12 product-photos__empty">
                                    <empty-area textOnly="true" *ngIf="abstractProductFullPhotosModel.isStateLoaded()">
                                        <div>
                                            Фотографий товара пока нет
                                        </div>
                                    </empty-area>
                                    <empty-area textOnly="true" *ngIf="abstractProductFullPhotosModel.isStateError()">
                                        <div>
                                            Ошибка загрузки фотографий товара
                                        </div>
                                    </empty-area>
                                </div>
                            </div>
                            <div class="row"
                                 *ngIf="(isModeCreate() || isModeEdit()) && !abstractProductFullPhotosModel.isStateLoading()">
                                <div class="col-xs-12">
                                    <un-image-uploader [uploader]="uploader"></un-image-uploader>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 product-ingredients">
                    <div class="row product-ingredients__header">
                        <div class="col-xs-12">
                            <span>Ингредиенты</span>
                        </div>
                    </div>
                    <div class="row product-ingredients__body" *ngIf="abstractProductFullModel?.product">
                        <products-ingredients [ingredients]="abstractProductFullModel.product.ingredients"
                                              (updateSumCostPriceIngredients)="updateSumCostPriceIngredients($event)"
                                              (updateSumSellPriceIngredients)="updateSumSellPriceIngredients($event)"
                                              (addNewIngredient)="addNewIngredient()" [formGroupProduct]="productForm"
                                              [formIngredients]="productForm.get('ingredients')"
                                              (deleteIngredient)="deleteIngredient($event)"
                                              [formArrayIngredientsName]="'ingredients'"
                                              [mode]="mode"></products-ingredients>
                    </div>
                </div>
            </div>

           <!-- <div class="row">
                <div class="col-xs-12 product-ingredients">
                    <div class="row product-ingredients__header">
                        <div class="col-xs-12">
                            <span>Дополнительные ингредиенты</span>
                        </div>
                    </div>
                    <div class="row product-ingredients__body" *ngIf="abstractProductFullModel?.product">
                        <products-ingredients [ingredients]="abstractProductFullModel.product.additional"
                                              (addNewIngredient)="addNewIngredient()" [formGroupProduct]="productForm"
                                              [formIngredients]="productForm.get('additional')"
                                              (deleteIngredient)="deleteIngredient($event)"
                                              [formArrayIngredientsName]="'additional'"
                                              [mode]="mode"></products-ingredients>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-xs-12 product-rating">
                    <div class="row product-rating__header">
                        <div class="col-xs-12">
                            <span>Рейтинг товара</span>
                        </div>
                    </div>
                    <div class="row product-rating__body">
                        <div class="col-xs-12">
                            <un-rating [productId]="productId" [formRating]="productForm.get('rating')"
                                       [mode]="mode"></un-rating>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 product-review">
                    <div class="row product-review__header">
                        <div class="col-xs-12">
                            <span>Отзывы о товаре</span>
                        </div>
                    </div>
                    <div class="row product-review__body">
                        <div class="col-xs-12">
                            <un-review [productId]="productId" [formReview]="productForm.get('review')"
                                       [mode]="mode"></un-review>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 product-question">
                    <div class="row product-question__header">
                        <div class="col-xs-12">
                            <span>Вопросы и ответы по товару</span>
                        </div>
                    </div>
                    <div class="row product-question__body">
                        <div class="col-xs-12">
                            <un-question [productId]="productId" [formQuestion]="productForm.get('question')"
                                         [mode]="mode"></un-question>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row products-modal__footer">
        <div class="col-xs-6" *ngIf="(isModeCreate() || isModeEdit()) && !mini">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-save" mat-mini-fab type="submit" color="primary"
                            [disabled]="productForm.invalid" matTooltip="Сохранить">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="isModeView() && !mini">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-action button-edit" mat-mini-fab type="button"
                            matTooltip="Редактировать товар"
                            color="primary" (click)="editProduct(productId)">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="isModeEdit() && !mini">
            <div class="row end-xs">
                <div class="col-xs-12">
                    <button class="button-edit" color="warn" mat-mini-fab type="button"
                            matTooltip="Удалить товар"
                            (click)="removeProduct(productId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-6" *ngIf="mini">
            <div class="row start-xs">
                <div class="col-xs-12">
                    <button class="button-action" color="primary" mat-mini-fab type="button" matTooltip="Выбрать данный товар" (click)="selectProductEE(productId)">
                        <mat-icon>done</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
